<html>
<head>
</head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<body>
尊敬的 <a>${emailMessage[0]}</a>：<br/><br/>

您好！您在豪世华邦房产房注册帐户邮箱为${emailMessage[3]},请点击下面的链接完成邮箱的验证。<br/><br/>

<a href="${emailMessage[2]}?actionMethod=activeAccount&uuid=${emailMessage[1]}">${emailMessage[2]}?actionMethod=activeAccount&uuid=${emailMessage[1]}</a><br/><br/>

如果通过点击以上链接无法访问，请将该网址复制并粘贴至新的浏览器窗口中打开。<br/><br/>

感谢您的支持，如果不是您本人操作，请忽略此邮件。<br/><br/>

&nbsp;&nbsp;&nbsp;&nbsp;此致！<br/><br/>
【此邮件由系统发送，请勿回复】
</body>
</html>