.u50 {
	top: 230px;
}
#selectedplan {
	margin: 10px;
}

.show_no {
	display: none
}

.show_yes {
	display: inline-block
}

h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em
	{
	margin: 0;
	padding: 0;
	border: 0;
}

ul,ol,li {
	list-style: none;
}

input,button {
	margin: 0;
	font-size: 12px;
	vertical-align: middle;
}

body {
	font-size: 12px;
	color: #333;
	margin: 0 auto;
	background: red;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
dd a {
	font-size: 12px;
	color: #333;
	text-decoration: none;
	cursor: pointer;
}

dd a:hover {
	text-decoration: none;
}

#searchContentContainer dl {
	width: auto;
	overflow: hidden
}

#searchContentContainer dl.noborder {
	border-bottom: 0px;
	border-left: 0px;
	border-top: 0px;
	border-right: 0px
}

#searchContentContainer dl.goodstype {
	border-bottom: #e6e6e6 1px dashed
}

#searchContentContainer dl dt {
	float: left;
	height: 30px
}

#searchContentContainer dl dt {
	text-align: right;
	width: 65px;
	height: 22px;
	font-weight: 600;
	padding-top: 8px
}

#searchContentContainer dl dd {
	position: relative;
	width: 500px;
	float: left;
	height: auto;
	overflow: hidden;
	padding-top: 0px;
	text-align: left;
}

#searchContentContainerback dl dd {
	position: relative;
	padding-left: 0px;
	width: 400px;
	padding-right: 48px;
	float: left;
	height: auto;
	overflow: hidden;
	padding-top: 0px
}

#searchContentContainer dl dd a {
	line-height: 22px;
	margin: 2px 2px 2px 2px;
	display: inline-block;
	color: #36c;
	overflow: hidden;
	text-decoration: none;
	padding: 3px;
	border-radius: 3px;
}

#searchContentContainer dl dd a:hover {
	background: #00AAFF;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

#searchContentContainer dl dd a.selected {
	background: #39c;
	color: #fff;
	padding: 3px;
	border-radius: 3px;
}

#searchContentContainer dl dd a.selected:hover {
	cursor: default
}

#searchContentContainer dl dd span.more {
	position: absolute;
	width: 39px;
	display: block;
	height: 14px;
	top: 6px;
	cursor: pointer;
	right: 1px
}

#searchContentContainer dl dd span.more label {
	display: inline-block;
	cursor: pointer
}

.hasBeenSelected {
	width: auto;
	margin-top: 10px;
	padding-top: 10px;
	overflow: hidden;
	background: #E9E9E9
}

.hasBeenSelected dl {
	width: auto;
	overflow: hidden
}

.hasBeenSelected dl dt {
	float: left
}

.hasBeenSelected dl dd {
	float: left
}

.hasBeenSelected dl dt {
	text-align: right;
	line-height: 30px;
	width: 108px;
	height: 30px;
	font-weight: 600
}

.hasBeenSelected dl dd {
	padding-bottom: 4px;
	padding-left: 0px;
	width: 676px;
	padding-right: 0px;
	padding-top: 0px
}

.selectedInfor {
	border-bottom: #4096EE 1px solid;
	position: relative;
	border-left: #4096EE 1px solid;
	padding-bottom: 1px;
	margin: 4px 10px 0px 0px;
	padding-left: 5px;
	padding-right: 17px;
	display: block;
	white-space: nowrap;
	background: #fff;
	float: left;
	height: 17px;
	border-top: #4096EE 1px solid;
	border-right: #4096EE 1px solid;
	padding-top: 1px
}

.selectedInfor label {
	color: #4096EE
}

.eliminateCriteria {
	line-height: 21px;
	margin-top: 4px;
	width: 80px;
	float: left;
	color: #f60;
	cursor: pointer;
	font-weight: 600
}

.selectedInfor em {
	background: url("../../img/x.gif") no-repeat;
	cursor: pointer;
	display: block;
	height: 13px;
	overflow: hidden;
	position: absolute;
	right: 2px;
	top: 3px;
	width: 13px;
}

#searchContentContainer dl dd a.show_no {
	display: none
}

#searchContentContainer dl dd a.show_yes {
	display: inline-block
}

#searchContentContainer dl dd b {
	margin: 0;
	padding: 0;
}

#searchContentContainer dl dd b.show_no {
	display: none
}

#searchContentContainer dl dd b.show_yes {
	display: inline-block
}

#searchContentContainer.show {
	display: block;
	border: 2px dashed #EEE;
}

#searchContentContainer.not-show {
	display: none
}

dl.not-show {
	display: none;
}

dl.show {
	display: block;
}

.condition {
	width: 30px;
	height: 12px;
	top: -10px;
	position: relative;
}

.condition:focus {
	border: 2px solid #999;
	outline: #EEE Solid 1px;
}

.unitName {
	margin: 0;
	padding: 0;
	display: inline-block;
	height: 12px;
	top: -8px;
	position: relative;
}

dd.roundDiv {
	border-radius: 3px;
	width: 400px;
	height: auto;
	margin-left: 30px;
	border: 1px solid #EEE;
}

.checkedbar {
	float: left;
	width: 100%;
	height: 38px;
	margin-top: 20px;
	font-size: 14px;
}

.checkedbar2 {
	float: left;
	width: 100%;
	height: 38px;
	font-size: 14px;
}

.checkedbar div {
	width: 128px;
	float: left;
	height: 100%;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
}

.checkedbar2 div {
	width: 128px;
	float: left;
	height: 100%;
	color: #ffffff;
	text-align: center;
	line-height: 40px;
}

.font7blue {
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #0000FF;
}

.contentDiv {
	margin: 0 0 0 0;
	/* min-height: 500px; */
	height: auto;
	/* font-size: 18px; */
	width: 100%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
}

;
.copyright {
	margin: 100px;
	margin-left: 200px;
	padding: 0px;
	font-size: 14px;
}

.tm-price {
	color: #888888;
	margin-left: 5px;
	text-decoration: line-through;
}

.tb-stock span {
	background-color: #EDEDED;
	border: 1px solid #CCCCCC;
	display: block;
	float: left;
	height: 26px;
	line-height: 26px;
	overflow: hidden;
	padding: 0;
	text-align: center;
	vertical-align: top;
	width: 26px;
}

.tb-text {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #666666;
	float: left;
	font-size: 16px;
	height: 26px;
	ime-mode: disabled;
	line-height: 26px;
	margin: 0;
	outline: 0 none;
	padding: 0;
	text-align: center;
	width: 48px;
}

.headFristDivWidth {
	float: left;
	width: 100px;
	margin-top: 10px;
}

.headDivWidth {
	float: left;
	width: 69px;
	height: 52px;
	padding-top: 28px;
	text-align: center;
}

.headDivWidth2 {
	float: left;
	width: 80px;
	height: 52px;
	padding-top: 26px;
	margin-left: 25px;
	text-align: center;
}

.headDivWidth3 {
	float: left;
	width: 80px;
	height: 48px;
	padding-top: 26px;
	margin-left: 233px;
	text-align: center;
}

.headDivWidth3inner {
	background-image: url('../images/homepage/icon_search_2.png');
	border: 0px;
	height: 22px;
	width: 100px;
	background-color: #575E6E;
	color: #8D93A1;
	padding-left: 3px;
	font-size: 12px;
	padding-top: 3px;
	/* border:1px solid red; */
}

.headDivWidth a {
	color: #fff;
	text-decoration: none;
}

.headDivWidth a:HOVER {
	color: #fff;
	text-decoration: none;
	background-color: #3FB8B1;
}

.sousuo {
	background-image: url('images/homepage/icon_search_0.png');
	border: 0px;
	height: 23px;
	width: 189px;
	background-color: #575E6E;
	color: #8D93A1;
	padding-left: 3px;
	padding-top: 3px;
	outline: none;
}

.headtabunselect {
	width: 99.8%;
	/* border: 1px solid red; */
	display: none;
	background-color: #F2FAFC;
}

.headtabunselect2 {
	width: 100%;
	/* border: 1px solid red; */
	/* display: none; */
	/* background-color: #F2FAFC; */
}
.hotclassquery{
	width:70%; 
	/* border: 1px solid red; */
	float: left;
	
}
.hotclassquery div{
    width:165px;
	float: left;
	margin:auto;
	margin-right:0px;
	text-align: center;
	height:75px;
}
.hotclassquery div img{
text-align: center;
cursor: pointer;
	/* width:60px;
	height: 50px; */
}


.headbackground {
	width: 100%;
	/* min-height: 570px; */
	/* background-image: url('/ddhb/images/homepage/u2_normal.jpg'); */
	z-index: 100;
	/* border-bottom: black solid 1px; */
}

.headmenu3 {
	display: none;
}

.headmenu {
	width: 100%;
	height: 80px;
	/* background-image: url('/ddhb/images/homepage/u6_normal.png'); */
	background-color: #F7F7F7;
	margin: auto;
}

.logoimg {
	width: 166px;
	height: 40px;
	float: left;
	background-image: url( '/ddhb/images/homepage/u8_normal.png' );
	margin-top: 29px;
	margin-left: 18px;
}

.menuBar {
	width: 50%;
	height: 40px;
	position: relative;
	float: left;
	margin-top: 29px;
	margin-left: 5px;
}

.menuBar ul {
	line-height: 60px;
	font-size: 12px;
	white-space: nowrap;
	margin-top: -10px;
}

.menuBar ul li {
	list-style-type: none;
	display: inline;
	margin-left: 7%;
}

.menuBar ul li a {
	color: #333333;
	font-size: 16px;
	font-weight: 400;
}

.loginDiv {
	float: right;
	height: 30px;
	margin-top: 37px;
	margin-right: 15px;
	border-width: 0px;
}

#userImg {
	margin-top: 5px;
	margin-left: 3px;
}

.loginAndRegistDiv {
	float: left;
	margin-top: 4px;
	min-width: 107px;
}

#seperatorLine {
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

.loginAndRegistDiv span {
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	color: #333333;
	cursor: pointer;
}

.clearDiv {
	clear: both;
	height: 0px;
}

.searchDivP {
	width: 100%;
	height: 420px;
	/* border: 1px solid red; */
	padding-top: 60px;
	background-image: url('/ddhb/images/homepage/banner1.jpg');
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	background-position: right bottom;
}

#searchDiv {
	width: 100%;
	/* width: 613px;
	height: 100%;
	z-index: 500;
	background-image: url( '/ddhb/images/homepage/u27_normal.png' );
	background-repeat: no-repeat;
	padding: 0px; */
}

#searchDivback {
	width: 100%;
	min-height: 613px;
	height: 374px;
	float: inherit;
	z-index: 500;
	position: absolute;
	margin-top: 75px;
	margin-left: 20%;
	/* background-image: url( '/ddhb/images/homepage/u27_normal.png' ); */
	background-image: url('/ddhb/images/homepage/homeback.png');
	background-repeat: repeat;
	padding: 0px;
}

#searchItemContainer {
	width: 570px;
	height: 32px;
	position: relative;
	margin-left: 23px;
	margin-top: 25px;
	padding: 0px;
}

.searchItem {
	width: 90px;
	height: 100%;
	float: left;
	text-align: center;
	cursor: pointer;
}

.searchItem span {
	font-size: 13px;
	line-height: 31px;
}

.contentDiv {
	width: 100%;
	height: 100%;
	background-color: #E5EBEE;
	text-align: center;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
	background-position: right bottom;
}

#functionBar {
	width: 75%;
	height: 75px;
	background-color: #fff;
	/* position: relative; */
	margin: 0 auto;
	
	
   background:#fff;color:#333;
   filter:progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=4);
   -moz-box-shadow: 2px 2px 10px #909090;
   -webkit-box-shadow: 2px 2px 10px #909090;
   box-shadow:2px 2px 10px #909090;
}

#hotlineDiv {
	float: left;
}

.seperator {
	float: left;
	margin-left: 21px;
}

.firstIconDiv {
	float: left;
	margin-left: 17px;
	cursor: pointer;
}

.iconDiv {
	float: left;
	margin-left: 50px;
	cursor: pointer;
}

#contactSearchBar {
	float:right;
	display: inline;
	height: 100%;
	background-color:#575E6E;
	width:30%;
	/* background-image: url( '/ddhb/images/homepage/contactSearch.png' );
	margin-left: 10px; */
}

#recommandedHouseDiv { /* position: relative; */
	/* height: 450px; */
	/* margin: 0 auto;
	margin-top: 10px; */
	/* display:inline; */
	background-color:Blue;
	margin: 0 auto;
	height:100%;
	/* border: 1px solid blue; */
	width:75%;
	margin-top:15px;
}

#recommandedHouseDiv2 { /* position: relative; */
	/* height: 450px; */
	/* margin: 0 auto;
	margin-top: 10px; */
	/* display:inline;
	background-color:Blue; */
	margin: 0 auto;
	height: 100%;
	border: 1px solid blue;
	width: 100%;
}

#secondAndRentHouse {
	width: 61%;
	min-height: 440px;
	margin-left: 1px;
	margin-top: 5px;
	border: gray solid 1px;
	float: left;
}

#recommandedItemDiv {
	width: 280px;
	height: 50px;
	float: left;
	margin-left: 13px;
	margin-top: -1px;
}

.recommandedItemMenu {
	float: left;
	width: 139px;
	height: 48px;
	background-color: #FFFFFF;
	text-align: center;
	cursor: pointer;
}

.recommandedItemMenu span {
	color: #333333;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	line-height: 50px;
}

#recommandedContent {
	/* width: 96%;
	min-height: 390px;
	margin-left: 13px;
	background-color: #FFFFFF; */
}

#newHouseDiv {
	width: 20%;
	float: right;
	margin-top:4px;
	/* border: 1px solid red; */
	/* min-height: 440px;
	float: right;
	margin-top: 5px;
	text-align: center; */
}

#newHousePictureDiv { /* min-height: 390px;
	width: 100%; */
	text-align:right;
	margin-top:15px;
}

#loginedUserInfoDiv {
	width:90px;
	height: 100%;
	/* float: left; */
	margin:0 auto;
	margin-top: -2px;
	cursor: pointer;
}

#loginedFunctionMenu {
	margin-left:2px;
	padding-top:5px;
	border-width: 0px;
	width: 100px;
	height: 200px;
	background-color: #F2F2F2;
	z-index: 300;
	display: none;
	font-size: 13px;
}

.loginMenu {
	/* padding-left: 20px; */
	width: 100%;
	height: 20px;
}

#newHousePictureDiv img {
	/* float:right; */
	/* margin-left: 7px; */
	cursor: pointer;
	width: 190px;
	height:218px;
	margin-top: 7px;
	text-align:right;
}

.xxx1 {
	display: inline;
	width: 200px;
	font-size: 12px;
	margin-left: 10px;
	text-align: left;
}

.xxx2 {
	display: inline-block;
	width: auto;
	padding: 6px;
	font-size: 12px;
	margin-left: 6px;
	cursor: pointer;
}

.u50,u51 {
	left: 250px;
	top: 210px;
	width: 100px;
	height: 25px;
	text-align: center;
	font-size: 13px;
	color: #000;
	font-style: normal;
	font-weight: normal;
	margin-left:230px;
}

.searchItem span {
	font-size: 12x;
	font-weight: normal;
	color: #B999;
}

.searchItem span.actived {
	font-size: 15px;
	font-weight: bold;
	color: #000;
}

.taglistdiv {
	width: 102%;
	margin-top: 20px;
	display: none;
}

.unselectedMenu {
	background-color: #F2F2F2;
}

.selectedMenu {
	background-color: #FFFFFF;
}
.serarchtextdiv {
	width:99.8%;
	padding-top: 10px;
	background-color:#F2FAFC;
	text-align:left;
	/* margin-right: 1px; */
}
.serarchtextdiv2 {
	width:100%;
	/* border-left: 1px solid #999;
	border-right: 1px solid #999; */
	padding-top:-10px;
	/* background-color: #FFF; */
	/* margin-right: 1px; */
}

.tab2leftrightslither {
	/* border: 1px solid red; */
	margin-top:50px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	width:100%;
}

.tab2leftrightslither2 {
	border: 1px solid red;
	width:90%;
	
	text-align: center;
	vertical-align: middle;
	margin-right: auto;
	margin-left: auto;
}
.tab_conbox2
{
/* border:1px solid red; */	
}
#topmore
{
	width: 300px;height:50px;border:0px solid red;position: absolute;top:79px;display:none ;
}

/* ul li以横排显示 */
/* 所有class为menu的div中的ul样式 */
div.menu ul
{
    list-style:none; /* 去掉ul前面的符号 */
    margin: 0px; /* 与外界元素的距离为0 */
    padding: 0px; /* 与内部元素的距离为0 */
    width: auto; /* 宽度根据元素内容调整 */
    font-size:12px;
}
/* 所有class为menu的div中的ul中的li样式 */
div.menu ul li
{
    float:left; /* 向左漂移，将竖排变为横排 */
}
/* 所有class为menu的div中的ul中的a样式(包括尚未点击的和点击过的样式) */
div.menu ul li a, div.menu ul li a:visited
{
    background-color: #575E6E; /* 背景色 */
    border: 1px #4e667d solid; /* 边框 */
    color: #fff; /* 文字颜色 */
    display: block; /* 此元素将显示为块级元素，此元素前后会带有换行符 */
    line-height: 1.35em; /* 行高 */
    padding: 4px 20px; /* 内部填充的距离 */
    text-decoration: none; /* 不显示超链接下划线 */
    white-space: nowrap; /* 对于文本内的空白处，不会换行，文本会在在同一行上继续，直到遇到 <br> 标签为止。 */
}
/* 所有class为menu的div中的ul中的a样式(鼠标移动到元素中的样式) */
div.menu ul li a:hover
{
    color: #fff; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}
/* 所有class为menu的div中的ul中的a样式(鼠标点击元素时的样式) */
div.menu ul li a:active
{
    background-color: #465c71; /* 背景色 */
    color: #cfdbe6; /* 文字颜色 */
    text-decoration: none; /* 不显示超链接下划线 */
}

/* @media screen and (max-width:758px) and (min-width:470px) */


