/* This stylesheet will be work on everywhere! */
/* CSS reset */
@charset "utf-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
article,aside,details,figcaption,figure, footer,header,hgroup,menu,nav,section { display:block; }
body{font-size: 12px;line-height:1.5em;}
nav,ul,ol,li { list-style:none; }
img{border:0;}
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; text-decoration:none; }
a:hover {text-decoration:underline;}
del { text-decoration: line-through; }
input, label, img, th {vertical-align: middle;}
table { border-collapse:collapse; border-spacing:0; }
fieldset,button,input,select,option { vertical-align:middle; }
textarea{resize:none;}
em,i,dfn,cite,strong,small{font-style:normal;} 
*::selection {background:rgba(0,0,0,0.3);color:white; } *::-moz-selection {background:rgba(0,0,0,0.3);color:white; }
.ui_state_tips .ui_dialog td{vertical-align:middle;}
input[type=submit]{cursor:pointer;}

.contWrap{width: 990px;margin:0 auto;}
