@CHARSET "UTF-8";
body {font:12px "Microsoft YaHei","Arial",sans-serif;}
html,body{-webkit-text-size-adjust:none;}
body,ul,li,p,h2,h3,h4,span,dl,dt,dd,form,table,td,div,input{margin:0;padding:0;}
img{border:0;width:100%;height:100%;}
div,p{display:block;}
ul,li{list-style:none; font-size:12px; line-height:14px;}
a{text-decoration:none; cursor:pointer;color:#575f6e;}
.clear{clear:both; overflow:hidden;}

.topHeader{background-color: #4E5156; width:100%;}
.header{margin: 0 auto;width: 960px;}
.bannerBar{width:100%; height:450px; position: absolute;z-index: -1;}
.backImg{margin: 0 auto;width: 1437px; height:100%;}

/**
.body{ background:url(../image/sy_bg.jpg) no-repeat center 80px;}
*/
#body{width:960px;margin:0 auto;}

#t_nav{height:80px; clear:both; background-color: #4E5156;}
.logo{float:left;width:203px;height:80px;}
.logo a{width:203px;height:80px; display:block;}
.nav{float:left;  }
.nav li{float:left;width:68px;font-size:14px;}
.nav li a{height:80px;line-height:80px;color:#fff;width:68px; text-align:center;float:left;}
.nav a.one,.nav a:hover{ background:#3fb8b1;color:#fff;}
.nav li.nav_a6{ position:relative; z-index:999;}
.nav li.nav_a6 a:hover{background:url(../image/nav_a6.gif) no-repeat;}
.nav li.nav_a6 .nav_more{ display:none; background:#fff; position:absolute;top:80px;left:-270px;width:460px;}
.nav li.nav_a6 .nav_more p{ display:none;}
.nav li.nav_a6 .nav_more a{padding:0 15px;color:#333333;width:60px;height:44px;line-height:44px;float:left;font-size:12px;}
.nav li.nav_a6 .nav_more a:hover{color:#3fb8b1; background:none;}
.nav li.nav_a6:hover .nav_more{ display:block;}

.dl_zc{float:right;margin:30px 45px 0 0;background:#3fb8b1 url(../image/sc_BG.gif) no-repeat;padding-left:25px;line-height:25px;width:100px;color:#7ecfcb;}
.dl_zc a{padding:0 12px;color:#fff;}
.dl_zc a:Hover{color:#006d66;}

.dl_zc_h{float:right;margin:30px 8px 0 0;background:#3fb8b1 url(../image/sc_BG.gif) no-repeat;padding-left:25px;line-height:25px;color:#7ecfcb;width:100px; position:relative; z-index:999;}
.dl_zc_h a{color:#fff;}
.dl_zc_h a.dl_name{line-height:25px;height:25px; display:block;padding:0 27px 0 8px;background:#3fb8b1 url(../image/jia.gif) no-repeat right top;}
.dl_zc_h a.dl_name:hover{line-height:25px;height:25px; display:block;padding:0 27px 0 8px;background:#3fb8b1 url(../image/jian.gif) no-repeat right top;}
.dl_zc_h a:hover{color:#333;}
.dl_zc_h:hover .dlh_wd{ display:block}
.dl_zc_h .dlh_wd{ display:none;line-height:22px; position:absolute; background:#3fb8b1; left:0px;width:140px;padding:10px 0;}
.dl_zc_h .dlh_wd a{padding-left:35px; display:block;}
.dl_zc_h .dlh_wd .bor{border-bottom:1px solid #8dd8d4;height:1px;margin:4px 10px;}

.t_jsuo{height:388px;width:732px;margin:63px auto 0 auto;}
.js_top{height:44px; background:#4e5156;line-height:44px;}
.js_top a{padding:0 34px 0 74px;color:#fff; height:44px;line-height:48px;float:left;margin-top:-4px;font-size:16px; background-position:40px 13px; background-repeat:no-repeat;}
.js_top a.one,.js_top a:hover{color:#575f6e;border-top:4px solid #4e5156; background:#fff;margin-top:-4px;line-height:44px;background-position:40px 9px; background-repeat:no-repeat;}
.js_top .li_1 a{background-image:url(../image/b_1a.gif);}
.js_top .li_1 a.one,.js_top .li_1 a:hover{background-image:url(../image/b_1b.gif);}
.js_top .li_2 a{background-image:url(../image/b_2a.gif);}
.js_top .li_2 a.one,.js_top .li_2 a:hover{background-image:url(../image/b_2b.gif);}
.js_top .li_3 a{background-image:url(../image/b_3a.gif);}
.js_top .li_3 a.one,.js_top .li_3 a:hover{background-image:url(../image/b_3b.gif);}

.js_con{padding:20px 0 10px 15px;background:url(../image/pngBG.png); clear:both; overflow:hidden;}
.js_sc{height:55px;position:relative; z-index:99;}
.js_sc input{width:677px;height:33px;padding-left:14px; background:none; border:none;line-height:32px;font-size:12px;float:left;color:#999;background:url(../image/scbg_1.gif) no-repeat; }
.js_sc input:focus{background:url(../image/scbg_1b.gif) no-repeat;}
.js_sc a{width:30px;height:30px; display:block; position:absolute;right:25px;}
.js_qy{padding-bottom:13px;font-size:14px; clear:both; overflow:hidden;}
.js_qy span{width:58px;height:22px; float:left;background:#3fb8b1; text-align:center; line-height:22px;color:#fff;}
.js_qy .txt_a{float:left;width:614px;font-size:12px;}
.js_qy .txt_a a{padding:3px 8px;float:left; display:block;color:#333;}
.js_qy .txt_a a:hover{color:#3fb8b1;}
.js_cona{ clear:both; padding:10px; text-align:center;}
.js_cona a{width:120px;height:34px;line-height:32px; text-align:center; display:inline-table; font-size:18px;color:#fff;background:#3fb8b1;}
.js_cona a:hover{color:#fff;background:#11a29a;}
.js_bux{ display:none;}


.three_pt{width:100%;padding:14px 0; clear: both; overflow:hidden;}
.three_pt .pt li{width:310px;padding:0 5px; float:left;}
.three_pt .tj_lsan{ display:none;}

.sy_gr{width:950px;margin:0 auto;}
.sy_gr .four_k{width:640px;float:left;font-size:14px;}
.four_k a{width:160px;height:43px; text-align:center; background:#e8e7e7;padding-top:66px;color:#575f6e;background-position: center 26px; background-repeat:no-repeat; display:block;float:left;}
.four_k a:hover{color:#fff;background-position: center 26px; background-repeat:no-repeat;}
.four_k a.a_1{background-image:url(../image/b_4a.png);}
.four_k a.a_1:hover{background-image:url(../image/b_4b.png); background-color:#cb4f4d;}
.four_k a.a_2{background-image:url(../image/b_5a.png);}
.four_k a.a_2:hover{background-image:url(../image/b_5b.png);background-color:#3fb8b1;}
.four_k a.a_3{background-image:url(../image/b_6a.png);}
.four_k a.a_3:hover{background-image:url(../image/b_6b.png);background-color:#f8bd4c;}
.four_k a.a_4{background-image:url(../image/b_7a.png);}
.four_k a.a_4:hover{background-image:url(../image/b_7b.png);background-color:#3397cb;}

.htcx{width:295px;height:99px; background:#629eaa;float:left;padding:10px 0 0 15px;}
.htcx p{font-size:16px;color:#fff;height:21px;}
.ht_ipt input{width:200px;height:25px;line-height:25px;float:left;padding-left:10px;font-size:14px;color:#a5a5a5;background:#f3f3f3; border:none;margin-top:7px;}
.ht_ipt b{float:left;width:210px;}
.ht_ipt a{width:61px;height:57px;line-height:58px;float:left; text-align:center;font-size:16px;color:#fff;background:#4e5156;margin-left:6px;margin-top:7px;}
.ht_ipt a:hover{color:#fff; background:#333;}



.con_k{padding:30px 0;margin:0 auto;width:950px; overflow:hidden; clear:both;}
.tj_left{width:705px;float:left;}
.tj_tit{height:44px; background:#575f6e;line-height:44px;}
.tj_tit a{padding:0 25px;color:#fff; height:44px;line-height:48px;float:left;margin-top:-4px;font-size:16px;}
.tj_tit a.one,.tj_tit a:hover{color:#575f6e;border-top:4px solid #575f6e; background:#fff;margin-top:-4px;line-height:44px;}

.tj_ls{padding:15px 0 0 0;width:708px; overflow:hidden;}
.tj_ls ul{width:720px;}
.tj_ls .item{width:226px;height:395px; background:#fff;float:left; position:relative;margin-right:14px;margin-bottom:10px;}
.tj_ls .pt{width:226px;height:170px;}
.tj_ls .tj_txt{padding:7px; background:url(../image/tmBG_80.png); position:absolute;left:0;top:170px;}
.tj_ls .tj_txt .jiant_s{height:37px;width:212px; text-align:center;padding-top:13px;}
.tj_ls .tj_txt .jiant_s a{ display:inline-table;width:43px;height:13px;background:url(../image/jiant_s.png) no-repeat;}
.color_wd{padding:10px 0 20px 0;display:none;}
.color_wd span{float:left;margin:0 10px 5px 0;color:#fff;padding:0 7px;line-height:20px;}
.color_wd .a_1{ background:#3397cb;}
.color_wd .a_2{ background:#cb4f4d;}
.color_wd .a_3{ background:#22a8a9;}
.color_wd .a_4{ background:#64caba;}
.color_wd .a_5{ background:#f8bd4c;}
.color_wd .a_6{ background:#61c1dc;}
.color_wd .a_7{ background:#c1acb0;}
.tj_ls .an_xq{padding-top:20px; clear:both; overflow:hidden; display:none;}
.tj_ls .an_xq a{height:25px;line-height:25px;margin-right:10px;float:left;color:#fff; background:#adadad;padding:0 10px;}
.tj_ls .an_xq a:hover{ background:#cb4f4d;}
.tj_ls .an_xq a.xq{padding-left:26px; background:#575f6e url(../image/yan.png) no-repeat;}
.tj_ls .an_xq a.xq:hover{ background-color:#cb4f4d;}
.tj_ls .item.one .tj_txt{top:29px;}
.tj_ls .item.one .color_wd,.tj_ls .item.one .an_xq{ display:block;}
.tj_ls .item.one .jiant_s a{background:url(../image/jiant_x.png) no-repeat;}
.tj_ls .pm{color:#666666;}
.tj_ls .pm span{color:#d04042;font-size:20px;}
.tj_ls .name_a{padding:10px 0 0;font-size:16px;line-height:22px;height:70px;}
.tj_ls .name_a a{color:#333;}
.tj_ls .name_a a:hover{color:#3fb8b1;}
.tj_ls .tj_sx{font-size:12px;color:#666;line-height:17px;}
.tj_ls .tj_sx span{color:#333;font-size:18px;padding:0 5px;}
.tj_ls .many{width:64px;padding-right:4px;height:55px;background:url(../image/bg_2.png) no-repeat; position:absolute;right:2px;top:-5px;color:#fff; text-align:center;}
.tj_ls .many p{font-size:20px;padding:3px 0 0px;}   /*modified by vincent 20140912, change padding:12px 0 4px to padding:3px 0 0px;*/
.tj_ls .xin{ position:absolute; right:10px;top:130px;background:url(../image/xin.png) no-repeat;width:41px;height:33px;}
.tj_lsan{padding:20px 0 0 276px; clear:both;}
.tj_lsan .leftan,.tj_lsan .rightan{float:left;}
.tj_lsan .leftan a{width:14px;height:21px;background:url(../image/leftan_1.gif) no-repeat; display:block;}
.tj_lsan .rightan a{width:14px;height:21px;background:url(../image/rightan_1.gif) no-repeat;display:block;}
.tj_lsan .yd{float:left;padding:6px 20px 0 20px;}
.tj_lsan .yd a{width:13px;height:11px;background:url(../image/dian_a.gif) no-repeat;display:block;float:left;margin:0 6px;}
.tj_lsan .yd a:Hover{background:url(../image/dian_b.gif) no-repeat;}

 #newHouseRecommanded .navigaterDiv{margin-top:20px;}

.tj_right{padding-left:14px;float:left;width:230px;}
.tj_right .tj_tit a{padding:0 25px;color:#fff; height:44px;line-height:48px;float:left;margin-top:-4px;font-size:16px;}
.tj_right .tj_tit a:hover{color:#fff;border-top:none; background:#575f6e;margin-top:0px;line-height:40px;}
.kp_ls{padding-top:5px; overflow: hidden;}
.kp_ls .item { position:relative;margin-top:8px;}
.kp_ls .li_1{width:230px; height:193px; position:relative;}
.kp_ls .li_2{width:230px; height:193px; position:relative; top:5px;}
.kp_ls .item p{width:230px;height:31px; background:#3fb8b1;filter: Alpha(opacity=80);-moz-opacity:.8;opacity:0.8; position:absolute;bottom:0px;}
.kp_ls .item a.dw_a{ position:absolute;bottom:0;left:10px;color:#fff;font-size:14px;line-height:34px;}
.kp_ls .item a.dw_a:hover{color:#333;}
.tj_right .tj_lsan{padding-left:40px;}



.sy_ad{ clear:both; overflow:hidden;width:960px;margin:0 auto;}
.sy_ad .tj_lsan{padding:10px 0 40px 400px;}




#links{width:100%;background:#ebebeb; clear:both; overflow:hidden;}
.links{width:950px;padding:10px 5px;margin:0 auto;}

.lk_a1{ clear:both;}
.lk_a1 a{float:left;padding:0 20px;height:30px;line-height:20px;background:url(../image/sbg_2.gif) repeat-x;color:#4e5156; }
.lk_a1 a.one,.lk_a1 a:hover{background:url(../image/abg_2.gif) repeat-x center top;color:#fff;}

.lk_a2{ clear:both;padding:5px 0;}
.lk_a2 a{padding:0 9px;line-height:24px;color:#4e5156; }
.lk_txt{line-height:18px;color:#999999;padding-bottom:15px;}

.lk_pt{border:1px solid #c3c3c3;padding:13px 13px 0 13px; background:#fff; clear:both; overflow:hidden;margin:0 5px;}
.lk_pt p,.lk_pt a{float:left;font-size:14px;}
.lk_pt a{margin:0 15px 10px 15px;}
.lk_pt img,.lk_pt span{float:left;}
.lk_pt span{width:830px;}

.lk_wd{padding-left:70px;}





/*copy*/
#copy{ background:#575f6e; overflow:hidden; clear:both;}
.copy{width:950px;margin:0 auto;}
.cp_a{font-size:16px;padding:20px 0;line-height:36px; clear:both; overflow:hidden;} 
.cp_a b{float:left;color:#fff;}
.cp_a span{float:left;width:875px;}
.cp_a a{padding-left:45px;float:left;color:#fff;}
.cp_txt{color:#a2aab9;padding-bottom:10px;}

/*閸欏厖鏅跺ù顔煎З*/
.rt_fda{ position:fixed;top:170px;right:0;}
.rt_fda a{width:63px;height:73px; display:block;}
.rt_fda a.fda_1{background:url(../image/afd_1a.gif) no-repeat;}
.rt_fda a.fda_1:hover{background:url(../image/afd_1b.gif) no-repeat;}
.rt_fda a.fda_2{background:url(../image/afd_2a.gif) no-repeat;}
.rt_fda a.fda_2:hover{background:url(../image/afd_2b.gif) no-repeat;}
.rt_fda a.fda_3{background:url(../image/afd_3a.gif) no-repeat;}
.rt_fda a.fda_3:hover{background:url(../image/afd_3b.gif) no-repeat;}
.rt_fda a.fda_4{background:url(../image/afd_4a.gif) no-repeat;}
.rt_fda a.fda_4:hover{background:url(../image/afd_4b.gif) no-repeat;}
.rt_fda a.fda_5{background:url(../image/afd_5a.gif) no-repeat;margin-top:1px;}
.rt_fda a.fda_5:hover{background:url(../image/afd_5b.gif) no-repeat;}


.duibi_w{position:fixed;bottom:0;width:100%;}
.duibi{background:#fff;border:4px solid #3fb8b1;width:950px;border-top:none;}

.db_tit{height:34px; background:#3fb8b1;line-height:34px;}
.db_tit a{padding:0 20px;color:#fff; height:34px;line-height:38px;float:left;margin-top:-4px;font-size:18px;}
.db_tit a.one,.db_tit a:hover{color:#333;border-top:4px solid #3fb8b1; background:#fff;margin-top:-4px;line-height:32px;}
.db_tit span{float:right;}
.db_tit span a{font-size:14px;padding-right:10px;}
.db_tit span a:hover{color:#f60;border-top:none; background:#3fb8b1;margin-top:0px;line-height:30px;}

.db_ls{padding:10px 0 35px; overflow:hidden; clear:both;}
.db_ls li{width:120px;height:190px;float:left;padding:0 34px;border-right:1px solid #cfcfcf;}
.db_ls .db_pt{width:115px;height:86px;}
.db_ls .db_name{font-size:16px;padding:5px 0 10px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.db_ls .db_name a{color:#333;}
.db_ls .db_name a:hover{color:#3fb8b1;}
.db_ls .db_zd{color:#666;line-height:20px;}
.db_ls .db_zd span{float:right;}
.db_ls .db_zd b{color:#d04042;font-size:16px;font-weight:400;}
.db_ls .db_an{padding-top:15px; text-align:center;}
.db_ls .db_an a{width:62px;height:20px;line-height:20px;color:#fff; background:#adadad; display:inline-block;}
.db_ls .db_an a:hover{ background:#888;}
.db_ls .db_tjs{width:115px;height:86px;line-height:86px; text-align:center; background:#f6f6f6;font-size:48px;color:#ccc;}
.db_ls .db_tjswd{padding-top:10px;color:#999; text-align:center;}

.db_ls li.nob{border:none; text-align:center;padding-top:55px;height:135px;}
.db_ls li.nob a{width:74px;height:24px;line-height:24px;color:#fff; background:#cb4f4d; display:inline-block;}
.db_ls li.nob a:hover{ background:#b92c2a;}
.db_ls li.nob p a{width:100%;color:#3fb8b1; background:none; display:inline-block;}
.db_ls li.nob p a:hover{ background:none;color:#f60;}


.logoPc{display:block;}
.logoPad{display:none;}
.logoMb{display:none;}


@media screen and (max-width: 960px)and (min-width: 758px) {
/**
body{background:#f7f7f7 url(../image/sy_body_780.gif) repeat-x top;}
*/
#body{width:758px;}
/**
.body{ background:url(../image/sy_bg.jpg) no-repeat center 80px;}
*/

#t_nav{width: 758px;margin: 0 auto;}
.backImg,.header{width: auto;}

.logo{width:176px;}

.kp_ls .li_1{width:242px; height:193px; position:relative;}
.kp_ls .li_2{width:242px; height:193px; position:relative; top:5px;}

.three_pt .pt li{width:248px;padding:0 2px;}


.sy_gr{width:758px;margin:0 auto;}
.sy_gr .four_k{width:756px;float:left;font-size:14px;margin:0 0 10px 0;}
.four_k a{width:188px;}
.htcx{width:740px;height:86px;padding-top:10px;}
.htcx p{height:32px;padding-top:4px;}
.htcx b{width:655px;}
.ht_ipt input{width:302px;margin-top:0;float:left;margin-right:15px;}
.ht_ipt a{width:61px;height:25px;line-height:25px;margin:0;}




.con_k{padding:30px 0 40px;width:760px; }
.tj_left{width:503px;float:left;}
.tj_ls{padding:15px 0 0 0;width:503px;}
.tj_ls ul{width:600px;}
.tj_ls .item{width:244px;height:415px; background:#fff;float:left; position:relative;margin-right:14px;margin-bottom:10px;}
.tj_ls .item img{width:100%;}
.tj_ls .pt{width:244px;height:182px;}
.tj_ls .item.li_3{ display:none;}
.tj_ls .tj_txt{top:183px;}
.tj_ls .item.one .tj_txt{top:41px;}
.tj_left .tj_lsan{padding-top:10px;}

.tj_right{width:242px;}
.kp_ls .item p{width:242px;}


.tj_lsan{padding:20px 0 0 166px; }
.more_tj{ display:none;}

.links{width:750px;}
.lk_pt span{width:640px;}


.copy{width:750px;}
.cp_a span{width:675px;}

.rt_fda{ display:none;}

.sy_ad{ width:760px;}
.sy_ad .tj_lsan{padding:10px 0 40px 300px;}

/*鐎佃鐦ù顔煎З*/
.duibi{width:748px;}

.db_ls{padding:10px 0 35px; overflow:hidden; clear:both;}
.db_ls li{padding:0 14px;}

.db_zzy .pt{width:126px;height:94px;padding-top:15px;}
.db_zzy .td_1{font-size:12px;}
.db_zzy td{font-size:10px;}
.dbz_name{font-size:14px;line-height:18px;}
.db_color span{margin:0 5px 5px 0;line-height:20px;font-size:10px;}
.db_zzy .db_yy{padding:20px 0;}
.db_zzy .db_yy a{height:34px;line-height:34px;font-size:18px;}


 .logoPc{display:none;}
.logoPad{display:block;}
.logoMb{display:none;}
}





@media screen and (max-width: 758px){
/**
body{background:#f7f7f7 url(../image/sy_body_780.gif) repeat-x top;}
*/
#body{width:470px;}

/**
.body{ background:url(../image/sy_bg_ihp.jpg) no-repeat center 78px;}
*/

#t_nav{height: 78px; width: 470px; margin:0 auto;}
.backImg,.header{width: auto;}
.bannerBar{height:320px;}

#t_nav{height:78px;background:none;}
.logo{width:106px;height:33px;}
.logo a{width:106px;height:33px;}
.nav{float:none; clear:both;padding-top:13px;width:470px;}
.nav li{width:85px;float:left;padding:0;margin:0;}
.nav li a{width:85px;padding:0;line-height:32px;height:32px;float:left; display:block;font-size:12px;margin:0;}
.nav li.nav_a4{ display:none;}
.nav li.nav_a6, .nav li.nav_a6 a{width:115px;}
.nav li.nav_a6 a:hover{background:#3fb8b1}
.nav li.nav_a6 .nav_more{  top:32px;left:-345px;}
.nav li.nav_a6 a:hover{background:#3fb8b1 url(../image/nav_a6_iph.gif) no-repeat center top;}
.nav li.nav_a6 .nav_more p{ display:block; clear:both;overflow:hidden;}



.dl_zc,.dl_zc_h{margin-top:4px;}

.dl_zc_h .dlh_wd{ left:-340px;width:465px;line-height:35px;}
.dl_zc_h .dlh_wd a{padding-left:25px;width:80px;float:left; }
.dl_zc_h .dlh_wd .bor{ display:none;}



/*婢舵挳鍎村Λ锟藉偍*/
.t_jsuo{width:404px;height:270px;margin:40px auto 0 auto;}
.js_top{height:30px;line-height:30px;}
.js_qy .txt_a{width:575px;}
.js_top a{padding:0 15px 0 38px;height:30px;line-height:34px;background-position:15px 12px; font-size:12px;}
.js_top a.one,.js_top a:hover{border-top:2px solid #575f6e;line-height:32px;height:32px;background-position:15px 10px; }
.js_top .li_1 a{background-image:url(../image/b_1a_ihp.gif);}
.js_top .li_1 a.one,.js_top .li_1 a:hover{background-image:url(../image/b_1b_ihp.gif);}
.js_top .li_2 a{background-image:url(../image/b_2a_ihp.gif);}
.js_top .li_2 a.one,.js_top .li_2 a:hover{background-image:url(../image/b_2b_ihp.gif);}
.js_top .li_3 a{background-image:url(../image/b_3a_ihp.gif);}
.js_top .li_3 a.one,.js_top .li_3 a:hover{background-image:url(../image/b_3b_ihp.gif);}

.js_sc input{width:344px;height:28px;padding-left:10px;line-height:28px;font-size:11px;background:url(../image/scbg_2.gif) no-repeat; }
.js_sc input:focus{background:url(../image/scbg_2b.gif) no-repeat;}
.js_sc a{width:28px;height:28px; right:35px;}


.js_con{ overflow:visible;}
.js_qy .txt_a{float:right;width:218px;font-size:12px; border:1px solid #ccc; background:#fff; position:absolute; display:block;top:24px; z-index:999; display:none;}

.js_qy{padding-bottom:13px;font-size:12px; width:180px;float:left; clear:none;padding-right:10px;position:relative; overflow:visible;}
.js_qy span{width:40px;height:24px; float:left;background:#4e5156; text-align:center; line-height:20px;}
.js_qy .txt_a{float:right;width:178px;font-size:12px; border:1px solid #ccc; background:#fff; position:absolute; display:block;top:24px; z-index:999; display:none;}
.js_qy .txt_a a{padding:3px 8px;float:none; display:block; text-align:center;}
.js_qy .txt_a a:hover{ background:#3fb8b1;color:#fff;}
.js_bux{ display:block;float:left;}
.js_bux a{width:135px;height:24px;line-height:24px;padding-left:5px;background:url(../image/buxBG.gif) no-repeat right top; display:block;}

.three_pt{padding-bottom:0;}
.three_pt .pt li{width:230px;padding:0 2px;}
.three_pt .pt li.li_3{ display:none;}
.three_pt .tj_lsan{ display:block;padding-bottom:10px;}


.sy_gr{width:465px;margin:0 auto;}
.sy_gr .four_k{width:465px;margin-top:0;}
.four_k a{width:229px;color:#fff;}
.four_k a.a_1{ background-color:#cb4f4d; background-image:url(../image/b_4b.png);margin:0 2px 2px 0;}
.four_k a.a_2{ background-color:#3fb8b1; background-image:url(../image/b_5b.png);margin:0 0 2px 2px ;}
.four_k a.a_3{ background-color:#f8bd4c; background-image:url(../image/b_6b.png);margin:2px 2px 0 0;}
.four_k a.a_4{ background-color:#3397cb; background-image:url(../image/b_7b.png);margin:2px 0 0 2px;}

.htcx{width:447px;height:73px;padding-top:12px;margin-top:4px;}
.htcx p{font-size:14px;height:24px;padding-top:4px;}
.htcx b{width:370px;}
.ht_ipt input{width:168px;margin-top:0;margin-right:7px;}
.ht_ipt a{width:61px;height:25px;line-height:24px;margin-top:0;}




.con_k{padding:20px 0;width:465px; }
.tj_left{width:465px;float:left;}

.tj_ls{padding:15px 0 0 0;width:465px;}
.tj_ls ul{width:500px;}
.tj_ls .item{width:225px;height:470px; background:#fff;float:left; position:relative;margin-right:14px;margin-bottom:10px;}
.tj_ls .item img{width:100%;}
.tj_ls .item.li_3,.tj_ls .item .jiant_s{ display:none;}
.tj_ls .tj_txt,.tj_ls .item .one .tj_txt{top:173px; background:#fff;}
.tj_ls .tj_txt .color_wd,.tj_ls .tj_txt .an_xq{ display:block;}
.tj_ls .pt{width:225px;}

.tj_left .tj_lsan{padding: 0 0 20px 166px; }
.tj_tit{height:30px;}
.tj_tit a{padding:0;width:50%; text-align:center;color:#fff; height:30px;line-height:30px;float:left;margin-top:-2px;font-size:12px;}
.tj_tit a.one,.tj_tit a:hover{color:#575f6e;border-top:2px solid #575f6e; background:#fff;margin-top:-2px;line-height:30px;}
.tj_right{padding:0;width:470px;}
.tj_right .tj_tit a{color:#fff;border-top:none; background:none;margin-top:-2px;line-height:32px;font-size:12px;height:30px;padding:0;width:18%;}
.tj_right .tj_tit a:hover{line-height:28px;height:30px;border-top:none;}
.tj_right .tj_lsan{padding-left:166px;}


.kp_ls{width:470px; overflow:hidden;}
.kp_ls .block{width:486px;}
.kp_ls .item{ position:relative;float:left;width:470px;margin:10px 10px 0 0}
.kp_ls .item p{width:100%;}
.kp_ls .li_1{float:left;}
.kp_ls .li_2{float:left; margin-left:10px; width:230px; top:0px;}

.tj_lsan{padding:10px 0 20px 156px; clear:both; overflow:hidden;}
/*added by vincent at 2014/09/11 11:24, according to index.css 2014/09/09*/
.tj_ls .name_a{padding:10px 0 15px;height:auto;}

.sy_ad{ width:470px;}
.sy_ad .tj_lsan{padding:10px 0 40px 170px;}



.links{width:470px;}
.lk_pt{padding-bottom:5px;}
.lk_pt p{padding-bottom:10px;font-size:12px;}
.lk_pt span{width:460px;}
.lk_a1 a{padding:0;min-width:25%; text-align:center; word-break:keep-all;}

.lk_wd{padding-left:0px;}
.lk_wd a{font-size:12px;}

/*copy*/
.copy{width:470px;margin:0 auto;}
.cp_a{font-size:14px;padding:15px 0;line-height:30px;} 
.cp_a span{width:375px;}
.cp_a a{padding-left:25px;}
.rt_fda{ display:none;}

/*鐎佃鐦ù顔煎З*/
.duibi{border:2px solid #3fb8b1;width:466px;border-top:none; display:none !important;}

.db_tit{height:30px;line-height:30px;}
.db_tit a{padding:0 20px;height:30px;line-height:34px;margin-top:-2px;font-size:12px;}
.db_tit a.one,.db_tit a:hover{border-top:2px solid #3fb8b1;margin-top:-2px;line-height:32px;}
.db_tit span a{font-size:12px;}

.db_ls{padding:10px 0 10px; }
.db_ls li{width:80px;height:150px;padding:0 6px;border-right:1px solid #cfcfcf;}
.db_ls .db_pt{width:80px;height:60px;}
.db_ls .db_name{font-size:12px;padding:3px 0 5px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.db_ls .db_zd{line-height:16px;font-size:10px;}
.db_ls .db_zd b{font-size:12px;}


.db_ls .db_tjs{width:80px;height:60px;line-height:60px; font-size:24px;}
.db_ls .db_tjswd{padding-top:5px;font-size:10px;}
.db_ls li.nob{padding-top:35px;height:85px;}

.phoneCompare{display:none;}
 #newHouseRecommanded .navigaterDiv{margin-top:80px;}
 .logoPc{display:none;}
.logoPad{display:none;}
.logoMb{display:block;}
}


@media screen and (max-width: 470px) {
/**
body{background:#f7f7f7 url(../image/sy_body_780.gif) repeat-x top;}
*/
#body{width:310px; overflow:hidden;}

/**
.body{ background:url(../image/sy_bg_s.jpg) no-repeat center 80px;}
*/

#t_nav{height: 66px; margin:0 auto; width:310px;}
.backImg,.nav,.header{width: auto;}
.bannerBar{height:380px;}


#searchContentContainer21 .item{margin-right:17px;}
#searchContentContainer11 .item{margin-right:17px;}

#t_nav{height:66px;background:none;}
.nav{float:none; clear:both;padding-top:15px;}
.nav li{width:60px;}
.nav li a{width:60px;}
.nav li.nav_a6, .nav li.nav_a6 a{width:70px;}
.nav li.nav_a6 .nav_more{position:absolute;top:32px;left:-210px;width:310px;}

.dl_zc_h .dlh_wd{ left:-200px;width:305px;line-height:30px;padding-left:20px;}
.dl_zc_h .dlh_wd a{padding-left:20px;width:80px; }


.t_jsuo{width:256px;height:330px;}
.js_top a{padding:0 10px 0 25px;background-position:5px 12px; }
.js_top a.one,.js_top a:hover{background-position:5px 10px; }
.js_sc input{width:219px;background:url(../image/scbg_3.gif) no-repeat; }
.js_sc input:focus{background:url(../image/scbg_3b.gif) no-repeat;}
.js_sc a{right:15px;}

.js_qy{width:220px;}
.js_qy .txt_a{width:218px;}
.js_bux{ display:block;float:left;}
.js_bux a{width:175px;height:24px;line-height:24px;padding-left:5px;background:url(../image/buxBG.gif) no-repeat right top; display:block;}

.three_pt .pt{padding-top:20px;}
.three_pt .pt li{width:310px;padding:0 2px;}
.three_pt .pt li.li_3k,.three_pt .pt li.li_2{ display:none;}

.sy_gr{width:310px;}
.sy_gr .four_k{width:310px;}
.four_k a{width:152px;}

.htcx{width:293px;height:99px;padding-top:10px;}
.htcx p{font-size:14px; clear:both;}
.htcx b{width:208px;}
.ht_ipt input{width:192px;margin-bottom:7px;}
.ht_ipt a{width:61px;height:57px;line-height:57px;}




.con_k{padding:20px 0 0 0;width:310px; }
.tj_left{width:310px;float:left;}

.tj_ls{padding:15px 0 0 0;width:310px;}
.tj_ls ul{width:320px;}
.tj_ls .item{width:310px;height:479px; margin-right:0;margin-bottom:10px;}
.tj_ls .item.li_3,.tj_ls .item.li_2{ display:none;}
.tj_ls .pm span{font-size:16px;}
.tj_ls .name_a{padding:10px 0 15px;font-size:16px;line-height:18px;height:auto;}
.tj_ls .tj_sx{font-size:12px;}
.tj_ls .tj_sx span{font-size:14px;}
.tj_ls .many p{font-size:16px;}
.tj_left .tj_lsan,.tj_right .tj_lsan{padding:0 0 20px 76px; }
.tj_lsan{padding:0 0 20px 76px; }
.tj_ls .pt{width:310px;height:233px;}
.tj_ls .tj_txt{top:233px;}

.sy_ad{ width:310px; margin-top:20px;}
.sy_ad .tj_lsan{padding:10px 0 20px 76px;}

.kp_ls{width:310px; overflow:hidden;}
.kp_ls .block{width:310px;}
.kp_ls .item{ position:relative;float:left;width:310px;margin:10px 0 0 0}
.kp_ls .item img{}
.kp_ls .item p{width:100%;}
.kp_ls .item .li_1{width:310px}
.kp_ls .item .li_2{ display:none;}

.links{width:310px;}
.lk_pt span{width:310px;}
.lk_a1 a{font-size:11px;}

/*copy*/
.copy{width:310px;margin:0 auto;}
.cp_a{font-size:12px;padding:10px 0;line-height:24px;} 
.cp_a span{width:255px;}
.cp_a a{padding-left:15px;}
.cp_txt{font-size:10px;}

.phoneCompare{display:none;}
#newHouseRecommanded .navigaterDiv{margin-top:120px;}

.logoPc{display:none;}
.logoPad{display:none;}
.logoMb{display:block;}

}

a:hover{color:#3fb8b1;}