



.nav a.one,.nav a:hover{ background:#F79200;}

.nav li.nav_a6 a:hover{background:url(../image/nav_a6.gif) no-repeat center bottom;}

.xt{background:#ff9b4b;}

.xt a.one,.xt a:hover{border-top:4px solid #ff9b4b;}

.sx_h .sx_a a:hover,.sx_h .sx_a a.one{color:#ff9b4b;}

.sx_h .sx_a .sx_qj a:hover{background:url(../image/jiant_jb_zl.gif) no-repeat;}

.sx_qy{border:1px solid #ff9b4b;}

.sx_qy a:hover{color:#ff9b4b;}

.sx_jg span a:hover{color:#ff9b4b;}

.sx_jg span a.a_1:hover{background:url(../image/b_8b_zl.gif) no-repeat;}

.sx_jg span a.a_2:hover{background:url(../image/b_9b_zl.gif) no-repeat;}

.sx_jg span a.a_3:hover{background:url(../image/b_10b_zl.gif) no-repeat;}

.sx_an a{ background:#ff9b4b;}

.sx_an a:hover{ background:#e47b27;}



.lbt{background:#eee;}

.lbta{background:url(../image/lba_2a_pc.gif) no-repeat 10px 13px;color:#333; width:100px; height:40px;line-height:40px; text-align:left; text-indent:30px;font-size:13px;}

.lbta:hover,.lbt a.a_1a{border-top:3px solid #eee; background:#fff url(../image/lba_2b_pc.gif) no-repeat 10px 9px;width:100px; font-size:16px; font-weight:bold; display:block; text-align:left; text-indent:30px; color:#333;}

.lbt a.a_2{width:100px; background-image:url(../image/lba_1a_pc.gif); display:block; font-size:13px;color:#333;}

.lbt a.a_2a,.lbt a.a_2:hover{border-top:3px solid #eee;width:100px; font-size:16px; font-weight:bold; display:block; text-align:left; text-indent:30px;background:#fff url(../image/lba_1b_pc.gif) no-repeat 10px 9px; color:#333;}



.wd_ls .hover .bianh a{background:url(../image/y_jian_zl.gif) no-repeat; }

.wd_ls .wd_rt .danjia{float:left; clear:none;}







.chang .sx_ht{width:90px;}

.chang .sx_a{width:825px;}



.wd_ls .maid_lb{float:left;width:260px;padding:0;}

.wd_ls .maid_lb span{float:left;margin:0 5px 5px 0;padding:0;width:20px;height:19px;font-size:0;}


.wd_ls .maid{float:left;width:100%;padding:0;}

.wd_ls .maid span,.color_wd span{float:left;margin:0 5px 5px 0;padding:0;width:20px;height:19px;font-size:0;}

.wd_ls .maid .color_1,.zl_pz .color_1,.color_wd .a_1{ background:url(../image/pz_1.png) no-repeat;}

.wd_ls .maid .color_2,.zl_pz .color_2,.color_wd .a_2{ background:url(../image/pz_2.png) no-repeat;}

.wd_ls .maid .color_3,.zl_pz .color_3,.color_wd .a_3{ background:url(../image/pz_3.png) no-repeat;}

.wd_ls .maid .color_4,.zl_pz .color_4,.color_wd .a_4{ background:url(../image/pz_4.png) no-repeat;}

.wd_ls .maid .color_5,.zl_pz .color_5,.color_wd .a_5{ background:url(../image/pz_5.png) no-repeat;}

.wd_ls .maid .color_6,.zl_pz .color_6,.color_wd .a_6{ background:url(../image/pz_6.png) no-repeat;}

.wd_ls .maid .color_7,.zl_pz .color_7,.color_wd .a_7{ background:url(../image/pz_7.png) no-repeat;}

.wd_ls .maid .color_8,.zl_pz .color_8,.color_wd .a_8{ background:url(../image/pz_8.png) no-repeat;}

.wd_ls .maid .color_9,.zl_pz .color_9,.color_wd .a_9{ background:url(../image/pz_9.png) no-repeat;}

.wd_ls .maid .color_10,.zl_pz .color_10,.color_wd .a_10{ background:url(../image/pz_10.png) no-repeat;}

.wd_ls .maid .color_11,.zl_pz .color_11,.color_wd .a_11{ background:url(../image/pz_11.png) no-repeat;}

.wd_ls .maid .color_12,.zl_pz .color_12,.color_wd .a_12{ background:url(../image/pz_12.png) no-repeat;}

.page a.one,.page a:hover{background:#ff9b4b;}

.page a.zy:hover{ background:#ff9b4b;}

.wd_ls .zjia{padding:0;}



.pc_ls .many{background:url(../image/bg_2_zl.png) no-repeat;}



.color_wd{padding:10px 0 0 0;}



.man .r_bh{background:#ff9b4b;}

.man .rwtp p{ background:url(../image/tm_60_zl.png); }

.man .ewm a{color:#ff9b4b;}

.man .ewm a:hover{color:#016869;}



.nr_tit{ background:#ff9b4b;}

.tit_a a.one,.tit_a a:hover{border-top:4px solid #ff9b4b; }

.d_x li{background:url(../image/d_x_zl.gif) no-repeat left 14px;}

.pt_jj_tt{ background:#ff9b4b;}

.pt_jj_tt a.one,.pt_jj_tt a:hover{border-top:4px solid #ff9b4b;}

.bq_nr_bd b{color:#ff9b4b;}

.nr_tt{ background:#ff9b4b;}

.nr_tt b{border-top:4px solid #ff9b4b;}



.dt_bq li a:hover{ background-image:url(../image/zp_b_zl.gif)}

.dt_bq li.one a.a_1{ background-image:url(../image/zp_b_zl.gif)}

.dt_bq li.li_2 a:hover{ background-image:url(../image/dt_b_zl.gif)}

.dt_bq li.one a.a_2{background-image:url(../image/dt_b_zl.gif)}



.zl_pz{ display:block;width:100%;padding:10px 0 0 0;}

.zl_pz span{float:left;margin:0 5px 5px 0;padding:0;width:20px;height:20px;font-size:0;}



.jia_pm .jpm_s{ clear:both; overflow:hidden;}

.jia_pm .jpm_x .danjia{border:none;}

.danjia{ clear:both; overflow:hidden;}

.danjia p{float:left;}

.danjia span{float:left;font-size:14px;}









@media screen and (max-width: 960px)and (min-width: 758px) {

.chang .sx_a{width:600px;}

.wd_ls .maid{float:left;width:140px;padding:0 10px;}

.wd_ls .maid span{float:left;margin:0 5px 5px 0;padding:0;width:20px;height:19px;font-size:0;}

.wd_ls .zjia{padding:0 0 0 10px;}





	}

@media screen and (max-width: 758px){

.nav li.nav_a6 a:hover{background:#ff9b4b url(../image/nav_a6_iph_zl.gif) no-repeat center top;}

.xt a.one,.xt a:hover{border-top:3px solid #ff9b4b;}

.sx_bx a:hover{background:url(../image/xla_b_zl.gif) no-repeat right top; }



.lbt a{background:url(../image/lba_2a_pc_zl.gif) no-repeat 8px 9px;}

.lbt a:hover,.lbt a.a_1a{background:#fff url(../image/lba_2b_pc_zl.gif) no-repeat 8px 6px;}

.lbt a.a_2{ background-image:url(../image/lba_1a_pc_zl.gif);}

.lbt a.a_2a,.lbt a.a_2:hover{background:#fff url(../image/lba_1b_pc_zl.gif) no-repeat 8px 6px;}

.lmtop_sc a:hover{background:url(../image/fadj_b.gif) no-repeat;}

.chang{ clear:both;width:400px; overflow:hidden;}

.sx_pz .sx_ht,.sx_pz .sx_bx{ display:none;}

.sx_pz .sx_a{ display:block; position:relative;width:450px;border:none;float:none;margin:0;padding:0;top:0;line-height:34px; clear:both;}

.sx_pz .sx_a a{float:left;padding:0 8px;margin:0 5px;}

.sx_none{border-top:1px dashed #adadad;border-bottom:1px dashed #adadad; clear:both;padding-top:18px;margin-bottom:18px; }

.wd_ls .maid span{float:left;margin:0 5px 5px 0;padding:0;width:20px;height:19px;font-size:0;}



.pc_ls li{height:420px;}



.color_wd{padding:10px 0 0 0;height:45px; overflow:hidden;margin-bottom:0;}

.pc_ls .an_xq{padding-top:0;}



.man .ewm p a{background:url(../image/fd_zl.gif) no-repeat right top;}

.xs_k .dbfx{background:#ff9b4b;color:#f9caa4;}

.tit_a a.one,.tit_a a:hover{border-top:3px solid #ff9b4b; }

.tit_a a.jt,.tit_a a.jt:hover{background: url(../image/tit_jt_zl.gif) no-repeat; }

.pt_jj_tt a.one,.pt_jj_tt a:hover,.nr_tt b{border-top:3px solid #ff9b4b;}

.jia_pm .jpm_x{ clear:both; overflow:hidden;}

.jia_pm .jpm_x .danjia b{font-size:12px;float:left;}

.jia_pm .jpm_x .danjia p{font-size:12px;float:left;}

.zl_pz{ display:block; clear:both;}



.danjia{ clear:none; overflow:hidden;}

.danjia p{float:none;}

.danjia span{float:none;font-size:14px;}

.mianji span{padding-bottom:7px;}

.wd_ls .zjia{padding:0 0 0 10px;}

	}

@media screen and (max-width: 470px) {

.chang{ clear:both;width:200px; overflow:hidden;}

.sx_pz .sx_a{ width:290px;}

.wd_ls .maid span{float:left;margin:0 5px 5px 0;padding:0;width:20px;height:19px;font-size:0;}

.wd_ls .hover .maid span{font-size:0;margin:0 5px 5px 0;padding:0;width:20px;height:19px;}



.pc_ls li{height:450px;}





	}

a:hover{color:#ff9b4b;}