/*-----------------
  5i5j(map) Style
  main.css
  Author:eugene.cao
  update:2013-5-7
 -------------------*/
/*-------------------
  页-面-元-素(全局)
  ------------------*/
body{ 
   text-align:center; background:#f4f4f4 url(../image/top_bg.jpg) repeat-x;
     }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
	margin:0;padding:0;
}
input{ 
    vertical-align:middle;
} 
ul,li{
    list-style:none;}
fieldset, img {
	border:0;
}
html, body {
	width:100%;height:100%;
}
body, td, th {
	font: 12px "宋体";
	color: #000;
}
table {
	width:100%;
	border:0;border-collapse:collapse;
}
p{ font-size:12px; line-height:1.8em;}
a:link,a:visited,a:hover{
	color:#333; text-decoration:none;}
a:hover{
	color:#0C73C0; text-decoration:underline;}	
a.blue:link,a.blue:visited,a.blue:hover{
	color:#0C73C0;}
a.red:link,a.red:visited,a.red:hover{
	color:#F1002F;}	
a.yellow:link,a.yellow:visited,a.yellow:hover{
	color:#FF8C02;}		
	
/*文字渲染--*/
.english_font{
	font-family:Verdana, Geneva, sans-serif; font-weight:bold;}
.emp_b{ color:#333;}	
.emp_y{ color:#FE4D01;}
.emp_r{ color: #FD2300;}
.emp_bl{ color:#0C62B5;}
.pertain{ color: #8D8D8D;}
.indentation{ text-indent:2em;}
.f14{ font-size:14px;}
.f18{ font-size:18px;}


/*---------------
  清-除-浮-动(clear)
  ----------------*/
.cl {
	clear:both; height:0; overflow:hidden;
}
/*header*/
#header{
	width:100%; height:58px;}
#header .logo{
	float:left; display:inline;
	margin-left:10px;}
#header .logo a:link,#header .logo a:visited,#header .logo a:hover{
	display:block;
	width:145px; height:58px; background:url(../image/sp_icon_v2.png) no-repeat 0 0;}	
#header .city{
	float:left; display:inline;
	height:20px; margin:20px 0 0 10px; background:url(../image/sp_icon_v6.png) repeat-x 0 0; border:1px solid #125C9B; border-radius:2px;}
#header .city a:link,#header .city a:visited,#header .city a:hover{
	padding:0 20px 0 5px; background:url(../image/sp_icon_v6.png) no-repeat right -36px; outline:none;
	color:#FFF; font: bold 12px/20px "微软雅黑"; text-align:left; text-decoration:none;}
#header .tel{
	float:right;
	padding-right:10px;
	font: 16px/58px "微软雅黑"; text-align:left; color:#fff;}	
#header .nav{
	float:left;
	padding-left:35px;}
#header .nav li{
	float:left;
	height:58px; padding-left:2px; background:url(../image/menu_line.gif) no-repeat left top;}
#header .nav li.r_bo{
	padding-right:2px; background:url(../image/menu_line.gif) no-repeat right top;}	
#header .nav li a:link,#header .nav li a:visited,#header .nav li a:hover{
	float:left;
	display:block;
	width:70px; height:58px;
	font:16px/58px "微软雅黑"; text-align:center; color:#fff; text-decoration:none;}
#header .nav li a.w2:link,#header .nav li a.w2:visited,#header .nav li a.w2:hover{
	width:60px;}
#header .nav li a.w3:link,#header .nav li a.w3:visited,#header .nav li a.w3:hover{
	width:80px;}		
#header .nav li a.map:link,#header .nav li a.map:visited,#header .nav li a.map:hover{
	width:64px; background:url(../image/sp_icon_v1.png) no-repeat 0 0;}	
#header .nav li a.more:link,#header .nav li a.more:visited,#header .nav li a.more:hover{
	position:relative;
	width:50px; padding-right:20px;}
#header .nav li .arrow{
	position:absolute; right:5px; top:24px;
	width:15px; height:16px; background:url(../image/sp_icon_v6.png) no-repeat 0 -67px;}	
/*center*/
#center{
	position:relative;
	padding:0 300px 0 10px; background:url(../image/side_box_bg.jpg) repeat-y right top;}
#center .l_box{
	float:left;
	width:100%;}	
#center .search_box{
	width:100%; margin-top:25px;}
#center .search_box .s1{
	float:left;
	width:365px; height:30px; padding-left:35px; background:#fff url(../image/sp_icon_v1.png) no-repeat 7px -103px!important; background:#fff url(../image/sp_icon_v1.gif) no-repeat 7px -103px;border:1px solid #AEB5BA; border-right:0;}
#center .search_box .s1 input{
	float:left;
	width:365px; height:30px; border:0;
	font:14px/30px "宋体"; text-align:left;}	
#center .search_box .s1_go{
	float:left;}	
#center .search_box .s1_go a:link,#center .search_box .s1_go a:visited,#center .search_box .s1_go a:hover{
	float:left;
	display:block;
	width:68px; height:32px; background:url(../image/sp_icon_v2.png) no-repeat 0 -98px; outline:0;}	
#center .search_box .s1_go a:hover{
	background:url(../image/sp_icon_v2.png) no-repeat -72px -98px;}	
#center .search_box .s2,#center .search_box .s3{
	float:left; display:inline;
	width:184px; height:34px; margin-left:10px; background:url(../image/sp_icon_v2.png) no-repeat 0 -137px;}
#center .search_box .s2 a:link,#center .search_box .s2 a:visited,#center .search_box .s2 a:hover,
#center .search_box .s3 a:link,#center .search_box .s3 a:visited,#center .search_box .s3 a:hover{
	display:block;
	width:184px; height:34px;}
#center .search_box .s3{
	background:url(../image/sp_icon_v2.png) no-repeat 0 -565px;}	
	
#center .search_box .weather{
	float:right; display:inline;
	height:25px; padding-left:30px; margin-right:10px; background:url(../image/sp_icon_v1.png) no-repeat 0 -149px!important;background:url(../image/sp_icon_v1.gif) no-repeat 0 -149px;
	font:12px/25px "宋体";}	
#center .map_box{
	position:relative; float:left;
	width:100%; margin-top:20px;}
#center .map_box .map{
	float:left;
	width:100%; text-align:left;}
#center .map_box .map img{
	width:100%;}
#center .map_box .nav{
	position:absolute; right:10px; top:-5px; z-index:500;
	width:142px; height:190px;}	
#center .map_box .nav .title{
	position:relative;
	width:142px; height:30px; background:url(../image/sp_icon_v2.png) no-repeat 0 -65px;}
#center .map_box .nav .title .show,#center .map_box .nav .title .hide{
	position:absolute; right:7px; top:7px;
	width:16px; height:16px; background:url(../image/sp_icon_v2.png) no-repeat -195px -73px; cursor:pointer;}
#center .map_box .nav .title .hide{
	background:url(../image/sp_icon_v2.png) no-repeat -169px -73px;}	
#center .map_box .nav .item_box{
	width:135px; border:1px solid #A8A9AE; margin-left:5px; background-color:#fff;}	
#center .map_box .nav .item_box .item{
	position:relative;
	width:100px; padding-left:35px; border-bottom:1px solid #CCC;
	font:12px/30px "宋体"; text-align:left;}
#center .map_box .nav .item_box .item_wrap{
	background:url(../image/sp_icon_v2.png) repeat-x 0 -618px;}
#center .map_box .nav .item_box .item .new{
	position:absolute; right:40px; top:-22px;
	width:35px; height:35px; background:url(../image/sp_icon_v1.png) no-repeat 0 -614px;}	
#center .map_box .nav .item_box .item a{
	color:#858585; text-decoration:none;}	
#center .map_box .nav .item_box .item a.yellow{
	color:#FF8C02;}	
#center .map_box .nav .item_box .item.m1{
	background:url(../image/sp_icon_v1.png) no-repeat 2px -248px;}	
#center .map_box .nav .item_box .item.m2{
	background:url(../image/sp_icon_v1.png) no-repeat 2px -278px;}
#center .map_box .nav .item_box .item.m3{
	background:url(../image/sp_icon_v1.png) no-repeat 2px -307px;}
#center .map_box .nav .item_box .item.m4{
	background:url(../image/sp_icon_v1.png) no-repeat 2px -337px;}
#center .map_box .nav .item_box .item.m5{
	background:url(../image/sp_icon_v1.png) no-repeat 2px -368px;}
#center .map_box .nav .item_box .item.m6{
	background:url(../image/sp_icon_v1.png) no-repeat 7px -663px;}	
#center .map_box .nav .item_box .item.m7{
	background:url(../image/sp_icon_v1.png) no-repeat -35px -618px;}	
#center .map_box .nav .item_box .item.m1.current{
	background:url(../image/sp_icon_v1.png) no-repeat 2px -574px;}
#center .map_box .nav .item_box .item.m2.current{
	background:url(../image/sp_icon_v1.png) no-repeat 0 -704px;}	
#center .map_box .nav .item_box .item.m3.current{
	background:url(../image/sp_icon_v1.png) no-repeat 2px -746px;}	
#center .map_box .nav .item_box .item.m4.current{
	background:url(../image/sp_icon_v1.png) no-repeat 0 -791px;}		
/*--*/
#center .map_box .nav ul.sub{
	width:135px; margin-left:0; border:0; padding-bottom:10px; border-bottom:1px solid #ccc; background-color:#F0F1F5;}
#center .map_box .nav ul.sub li{
	width:100px; height:25px; padding-left:35px; border-bottom:0;
	font:12px/30px "宋体"; text-align:left;}
#center .map_box .nav ul.sub2{
	position:relative;
	width:135px; margin-left:0; border:0; padding:5px 0 10px 0; border-bottom:1px solid #ccc; background-color:#F0F1F5;}
#center .map_box .nav ul.sub2 li{
	width:80px; height:25px; padding-left:55px; border-bottom:0;
	font:12px/30px "宋体"; text-align:left;}	
#center .map_box .nav ul.sub2 li.m1{
	background:url(../image/sp_icon_v7.png) no-repeat 30px -166px;}	
#center .map_box .nav ul.sub2 li.m2{
	background:url(../image/sp_icon_v7.png) no-repeat 30px -189px;}
#center .map_box .nav ul.sub2 li.m3{
	background:url(../image/sp_icon_v7.png) no-repeat 30px -211px;}
#center .map_box .nav ul.sub2 li.m4{
	background:url(../image/sp_icon_v7.png) no-repeat 30px -235px;}
#center .map_box .nav ul.sub2 li.m5{
	background:url(../image/sp_icon_v7.png) no-repeat 30px -262px;}
#center .map_box .nav ul.sub2 li.m6{
	background:url(../image/sp_icon_v7.png) no-repeat 30px -288px;}
#center .map_box .nav ul.sub2 li.m7{
	background:url(../image/sp_icon_v7.png) no-repeat 30px -312px;}	
/*menu_sub_popup*/
.ms_popup{
	position:absolute; left:-268px; top:0;
	width:265px; border:1px solid #A7A8AD; background-color:#fff;}
.ms_popup .close{
	position:absolute; right:5px; top:8px;
	width:14px; height:14px; background:url(../image/sp_icon_v7.png) no-repeat -144px -93px; cursor:pointer;}	
.ms_popup .graphic{
	width:261px; height:30px; margin:0 2px; border-bottom:1px solid #D4D4D4; background:url(../image/sp_icon_v7.png) no-repeat -64px -3px;}	
.ms_popup .refresh{
	position:relative;
	float:left;
	padding:10px 20px 10px 10px;
	font:12px/20px "宋体"; text-align:left;}
.ms_popup .refresh_icon{
	position:absolute; right:-5px; top:12px;
	width:16px; height:16px; background:url(../image/sp_icon_v7.png) no-repeat -112px -91px;}
.ms_popup p{
	padding:10px 20px 10px 10px;
	font:12px/20px "宋体"; text-align:left;}	
.ms_popup .date{
	position:relative;
	width:218px; padding-left:30px; margin:0 0 10px 10px;}
.ms_popup .date .th{
	position:absolute; left:0; top:0;
	background-color:#21ADE0; padding:0 2px;
	font:12px/20px "宋体"; text-align:center; color:#fff;}	
.ms_popup .date span{
	float:left; display:inline;
	margin-left:15px;
	font:12px/20px "宋体"; text-align:left; color:#21ADE0;}
.ms_popup .date	.hour_bg{
	position:relative;
	width:218px; height:25px; padding-top:10px; background:url(../image/sp_icon_v7.png) no-repeat 0 -366px;}
.ms_popup .date .sub_info{
	margin-top:3px;
	font:12px/22px "宋体"; text-align:left; color:#858585;}	
.ms_popup .date .bar01,.ms_popup .date .bar02{
	position:absolute; left:67px; top:5px;
	width:11px; height:22px; background:url(../image/sp_icon_v7.png) no-repeat -70px -48px; cursor:pointer;}
.ms_popup .date .num{
	position:absolute; left:-10px; top:-20px;
	font:12px/25px Arial, Helvetica, sans-serif; text-align:center;}	
.ms_popup .date .bar02{
	left:125px; top:5px;
	background:url(../image/sp_icon_v7.png) no-repeat -104px -48px;}	

#center .r_box{
	position:absolute; right:0; top:0;
	width:300px; padding-bottom:10px; }	
/*index_user_info*/	
#center .r_box .user_info_box{
	position:relative; z-index:1000;
	width:295px; height:80px; margin-left:5px; background:url(../image/user_info_bg.jpg) repeat-x;}	
#center .r_box .user_info_box .login_box{
	float:left;
	height:45px; padding:3px 0 0 42px; margin:12px 0 0 10px; background:url(../image/sp_icon_v1.png) no-repeat 0 -193px!important;ackground:url(../image/sp_icon_v1.gif) no-repeat 0 -193px;
	font:12px/20px "微软雅黑", "宋体"; text-align:left; color:#373330;}	
#center .r_box .user_info_box .login_box a:link,#center .r_box .user_info_box .login_box a:visited,#center .r_box .user_info_box .login_box a:hover{
	color:#E56405; text-decoration:underline;}
#center .r_box .user_info_box .login_box a:hover{
	text-decoration:none;}	
#center .r_box .user_info_box .welcome{
	position:relative;
	width:240px; height:39px; padding-right:55px; border-bottom:1px solid #D4D5D9;}
#center .r_box .user_info_box .name{
	float:left;
	padding-left:12px;
	font:14px/35px "微软雅黑"; text-align:left; color: #333;}	
#center .r_box .user_info_box .name span{
	color:#1075C3;}	
#center .r_box .user_info_box .close{
	position:absolute; right:10px; top:10px;
	height:20px; padding-left:10px; background:url(../image/sp_icon_v3.png) no-repeat -42px -179px;}	
#center .r_box .user_info_box .close a:link,#center .r_box .user_info_box .close a:visited,#center .r_box .user_info_box .close a:hover{
	display:block;
	padding-right:15px; background:url(../image/sp_icon_v3.png) no-repeat 25px -178px;
	color:#A5A5A5; line-height:20px; text-decoration:none;}
#center .r_box .user_info_box .close a:hover{
	background:url(../image/sp_icon_v3.png) no-repeat 24px -693px;
	color:#00B7FF; }		
#center .r_box .user_info_box ul{
	width:295px; height:39px;}
#center .r_box .user_info_box ul li{
	float:left;
	border-top:1px solid #fff; border-right:1px solid #D4D5D9;}
#center .r_box .user_info_box ul li.m1{
	border-left:1px solid #fff;}
#center .r_box .user_info_box ul li.m2{
	position:relative;
	border-left:1px solid #fff; border-right:0;}	
#center .r_box .user_info_box ul li.m2 .arrow{
	position:absolute; right:8px; top:16px; 
	width:12px; height:12px; background:url(../image/sp_icon_v3.png) no-repeat 0 -146px;}	
#center .r_box .user_info_box ul li a:link,#center .r_box .user_info_box ul li a:visited,#center .r_box .user_info_box ul li a:hover{
	display:block;
	float:left;
	width:35px; height:38px; padding-left:50px; background:url(../image/sp_icon_v3.png) no-repeat 12px 8px;
	font:12px/39px "宋体"; text-align:left; text-decoration:none;} 
#center .r_box .user_info_box ul li a:hover{
	background:#00B7FF url(../image/sp_icon_v3.png) no-repeat 12px -611px;
	color:#fff;} 		
#center .r_box .user_info_box ul li.m1 a:link,#center .r_box .user_info_box ul li.m1 a:visited,#center .r_box .user_info_box ul li.m1 a:hover{
	width:45px; height:38px; padding-left:50px; background:url(../image/sp_icon_v3.png) no-repeat 16px -38px;}
#center .r_box .user_info_box ul li.m1 a:hover{
	background:#00B7FF url(../image/sp_icon_v3.png) no-repeat 16px -645px;}	
#center .r_box .user_info_box ul li.m2 a:link,#center .r_box .user_info_box ul li.m2 a:visited,#center .r_box .user_info_box ul li.m2 a:hover{
	width:71px; height:38px; padding-left:40px; background:url(../image/sp_icon_v3.png) no-repeat 10px -85px;}	
#center .r_box .user_info_box ul li.m2 a:hover,
#center .r_box .user_info_box ul li.current a:link,#center .r_box .user_info_box ul li.current a:visited,#center .r_box .user_info_box ul li.current a:hover{
	background:#00B7FF url(../image/sp_icon_v3.png) no-repeat 10px -540px; color:#fff;}	
/*m2_popup*/
#center .user_info_box .m2_popup{
	position:absolute; right:1px; top:41px; z-index:1000;
	width:110px; padding-bottom:4px; background-color:#00B7FF; cursor:pointer;}
#center .user_info_box .m2_popup .m2_t{
	background:url(../image/sp_icon_v3.png) no-repeat 10px -540px;
	padding-left:40px; height:38px;
	font:12px/38px "宋体"; text-align:left; color:#fff;}	
#center .user_info_box .m2_popup .arrow{
	position:absolute; right:0; top:30px;
	width:11px; height:9px; background:url(../image/sp_icon_v3.png) no-repeat 0 -591px;}
#center .user_info_box .m2_popup .item{
	width:110px; height:25px; background:url(../image/line2.jpg) no-repeat center top; padding-top:6px;}
#center .user_info_box .m2_popup .i_li{
	width:72px; padding-left:38px; background:url(../image/sp_icon_v3.png) no-repeat -18px -411px;
	font:12px/25px "宋体"; text-align:left;}
#center .user_info_box .m2_popup .i_li.i1{
	background:url(../image/sp_icon_v3.png) no-repeat -22px -440px;}
#center .user_info_box .m2_popup .i_li.i2{
	background:url(../image/sp_icon_v3.png) no-repeat -18px -470px;}		
#center .user_info_box .m2_popup a:link,#center .user_info_box .m2_popup a:visited,#center .user_info_box .m2_popup a:hover{
	color:#CBF6FF;}	
	
#center .r_box .title{
	float:left;
	width:272px; margin:10px 0 10px 18px;
	font:16px/25px "微软雅黑", "宋体"; text-align:left;}
#center .r_box .title span{
	float:right;}
#center .r_box .title span a:link,#center .r_box .title span a:visited,#center .r_box .title span a:hover{
	color:#06C; font:12px/25px "宋体";}
#center .r_box .title span a:hover{
	text-decoration:underline;}	
#center .r_box .topic{
	position:relative; float:left;
	width:270px; height:105px; margin:0 0 0 16px; border:2px solid #fff;}	
#center .r_box .topic .previous,#center .r_box .topic .previous.disable,
#center .r_box .topic .next,#center .r_box .topic .next.disable{
	position:absolute; left:-12px; top:40px;
	width:27px; height:27px; background: url(../image/sp_icon_v1.png) no-repeat 0 -475px;}	
#center .r_box .topic .previous.disable{
	background: url(../image/sp_icon_v1.png) no-repeat -30px -475px;}	
#center .r_box .topic .next,#center .r_box .topic .next.disable{
	left:255px;
	background: url(../image/sp_icon_v1.png) no-repeat 0 -502px;}
#center .r_box .topic .next.disable{
	background: url(../image/sp_icon_v1.png) no-repeat -30px -502px;}
#center .r_box .topic .previous a,#center .r_box .topic .next a{
	display:block;
	width:27px; height:27px;}
#center .r_box .cmbox_wrap{
	position:relative; z-index:100;
	float:left;
	width:271px; margin:8px 0 0 18px;}
#center .r_box .cmbox_wrap.nomargin{
	margin:0 0 0 18px;}		
#center .r_box .cmbox{
	float:left;
	width:271px; border:1px solid #fff; border-top:0;}
#center .r_box .cmbox.h_524{
	height:524px;}	
#center .r_box .cmbox.h_372{
	position:relative;
	height:372px; overflow:hidden;}	
#center .r_box .cmbox.h_700{
	position:relative;
	height:700px; background-color:#fff; overflow:hidden;}	
#center .r_box .cmbox.line_b{
	border-bottom:1px solid #D5D4D9;}	
#center .r_box .cmbox .t1{
	position:relative;
	width:249px; padding:10px; background-color:#E9E9E9; border:1px solid #D5D4D9; border-bottom:0;}
#center .r_box .cmbox .t1.no_topline{
	border-top:0;}	
#center .r_box .cmbox .t1.no_bg{
	background:#fff none;}
#center .r_box .cmbox .t1.no_line{
	border-top:0; border-left:0; border-right:0;}	
#center .r_box .cmbox .t2{
	width:249px; padding:5px 10px; border:1px solid #D5D4D9; background-color:#F9F9FB;}	
#center .r_box .cmbox_wrap .arrow{
	position:absolute; left:15px; top:-14px; z-index:1000;
	width:20px; height:16px; background:url(../image/sp_icon_v1.png) no-repeat 0 -537px;}
#center .r_box .cmbox_wrap .arrow2{
	position:absolute; left:15px; top:-13px; z-index:1000;
	width:21px; height:14px; background:url(../image/sp_icon_v1.png) no-repeat -23px -539px;}		
#center .r_box .cmbox h2{
	font: bold 14px/20px "宋体"; text-align:left; color:#0E73C1;}
#center .r_box .cmbox .info_box{
	width:249px; margin-top:8px;}
#center .r_box .cmbox .info_box.nomargin{
	margin-top:0;}	
#center .r_box .cmbox .info_box .pic{
	float:left;
	width:100px;}
#center .r_box .cmbox .info_box .pic p{
	margin-top:4px;
	font: bold 16px/16px "微软雅黑", "宋体"; text-align:center;}	
#center .r_box .cmbox .info_box .rr{
	float:left; display:inline;
	width:140px; margin-left:9px;}
#center .r_box .cmbox .info_box p{
	font:12px/20px "宋体" ; text-align:left; color:#858585;}
#center .r_box .cmbox .info_box p.price{
	font:20px/25px Verdana, Geneva, sans-serif; color:#FD2300;}	
#center .r_box .cmbox .info_box p.price span{
	margin-left:5px;
	font:12px/25px "宋体"; color:#565656;}	
#center .r_box .cmbox .info_box p.s2{
	margin-top:5px;}	
#center .r_box .cmbox .info_box	.sell,#center .r_box .cmbox .info_box .hire{
	float:left;
	padding-left:25px; margin:5px 5px 0 0; background:url(../image/sp_icon_v1.png) no-repeat 0 -408px;
	font:bold 12px/25px "宋体"; text-align:left;}
#center .r_box .cmbox .info_box .hire{
	background:url(../image/sp_icon_v1.png) no-repeat 0 -441px;}
#center .r_box .cmbox .t1 .tip_info{
	width:229px; margin-top:10px; padding-left:20px; background:url(../image/sp_icon_v3.png) no-repeat -32px -582px;
	font:12px/20px "宋体"; text-align: left; color:#858585;}	
#center .r_box .cmbox .t1 .tip_info.for_zu{
	background:url(../image/sp_icon_v3.png) no-repeat 0 -727px;}	
/*===*/
#center .r_box .cmbox .info_box2{
	width:249px;}
#center .r_box .cmbox .info_box2 .i1{
	width:249px;}
#center .r_box .cmbox .info_box2 .ll_box{
	position:relative; float:left;
	width:132px; height:48px; margin-right:5px; padding-left:30px;}
#center .r_box .cmbox .info_box2 p{
	font:12px/22px "宋体"; text-align:left; color:#858585;}	
#center .r_box .cmbox .info_box2 .num{
	position:absolute; left:0px; top:2px;
	width:23px; height:36px; background:url(../image/sp_icon_v3.png) no-repeat 0 -442px;
	font:14px/25px Verdana, Geneva, sans-serif; text-align:center; color:#fff;}	
#center .r_box .cmbox .info_box2 .rr_box{
	float:left;
	width:70px; height:48px;}	
#center .r_box .cmbox .info_box2 .i2{
	width:249px; margin-top:10px;}	
/*===*/
#center .r_box .cmbox .info_box3{
	width:249px;}
#center .r_box .cmbox .info_box3 .i1{
	width:249px;}
#center .r_box .cmbox .info_box3 .ll_box{
	float:left;
	width:100px; height:75px; margin-right:8px;}
#center .r_box .cmbox .info_box3 .rr_box{
	float:left;
	width:140px; height:75px; overflow:hidden;}	
#center .r_box .cmbox .info_box3 p{
	font:12px/18px "宋体"; text-align:left; color:#858585;}	
#center .r_box .cmbox .info_box3 .i2{
	position:relative;
	width:219px; height:36px; margin-top:10px; padding-left:30px;}
#center .r_box .cmbox .info_box3 .i2 p{
	font:12px/36px "宋体";}	
#center .r_box .cmbox .info_box3 .num{
	position:absolute; left:0; top:2px;
	width:23px; height:36px; background:url(../image/sp_icon_v3.png) no-repeat 0 -442px;
	font:14px/25px Verdana, Geneva, sans-serif; text-align:center; color:#fff;}	
/*===*/
#center .r_box .cmbox .info_box4{
	width:249px;}
#center .r_box .cmbox .info_box4 .i1{
	width:249px;}
#center .r_box .cmbox .info_box4 .ll_box{
	float:left;
	width:68px; height:90px; margin-right:8px;}
#center .r_box .cmbox .info_box4 .rr_box{
	float:left;
	width:160px; height:90px; overflow:hidden;}	
#center .r_box .cmbox .info_box4 h2{
	font: bold 14px/20px "宋体"; text-align:left;}	
#center .r_box .cmbox .info_box4 p{
	font:12px/18px "宋体"; text-align:left; color:#858585;}	
#center .r_box .cmbox .info_box4 .i2{
	position:relative;
	width:219px; height:36px; margin-top:10px; padding-left:30px;}
#center .r_box .cmbox .info_box4 .i2 p{
	font:12px/18px "宋体";}	
#center .r_box .cmbox .info_box4 .num{
	position:absolute; left:0; top:0;
	width:23px; height:36px; background:url(../image/sp_icon_v3.png) no-repeat 0 -442px;
	font:14px/25px Verdana, Geneva, sans-serif; text-align:center; color:#fff;}	
#center .r_box .cmbox .info_box4 .sell,#center .r_box .cmbox .info_box4 .hire{
	padding-left:25px; margin:5px 5px 0 0; background:url(../image/sp_icon_v1.png) no-repeat 0 -408px;
	font:bold 12px/20px "宋体"; text-align:left;}
#center .r_box .cmbox .info_box4 .hire{
	background:url(../image/sp_icon_v1.png) no-repeat 0 -441px;}	

/*comment_num*/	
#center .r_box .cmbox .cn{
	position:absolute; right:20px; top:1px;
	width:33px; height:40px; background:url(../image/sp_icon_v4.jpg) no-repeat -327px -255px;}
#center .r_box .cmbox .cn .c1{
	margin-top:2px;
	font:12px/12px "宋体"; text-align:center; color:#99E2F8;}
#center .r_box .cmbox .cn .c2{
	font:14px/14px Verdana, Geneva, sans-serif; text-align:center; color:#fff;}
/*t3*/	
#center .r_box .cmbox .t3_wrap{
	position:relative;
	width:269px; height:698px; border:1px solid #d5d5d7; overflow:hidden;}
#center .r_box .cmbox .t3{
	position:relative; float:left;
	width:235px; padding:15px 15px 0 20px; border-top:1px solid #D5D5D7; border-bottom:1px dashed #D5D5D7; background-color:#fff;}	
#center .r_box .cmbox .t3 .arrow{
	position:absolute; left:10px; top:-9px;
	width:10px; height:8px; background:url(../image/sp_icon_v4.jpg) no-repeat -466px -223px;}	
#center .r_box .cmbox .t3 .coment_box{
	float:left;
	width:210px; padding-left:20px; border-left:2px solid #D4D5D7; }
#center .r_box .cmbox .t3 .coment_box .list{
	position:relative; float:left;
	width:200px; margin-bottom:15px;
	font:12px/20px "宋体"; text-align:left;}	
#center .r_box .cmbox .t3 .coment_box .avatar{
	position:absolute; left:-35px; top:0;
	width:30px; height:30px;}	
#center .r_box .cmbox .t3_wrap .nocomment{
	position:relative; float:left;
	width:195px; padding:100px 0 0 40px;}
#center .r_box .cmbox .t3_wrap .nocomment .tip{
	font:16px/25px "微软雅黑", "宋体"; text-align:left; color:#F60;}	
#center .r_box .cmbox .t3_wrap .nocomment .icon{
	position:absolute; left:95px; top:25px;
	width:70px; height:70px; background:url(../image/sp_icon_v4.jpg) no-repeat -320px -180px;}	
#center .r_box .cmbox .t3_wrap .nocomment .arrow{
	position:absolute; left:125px; top:129px;
	width:11px; height:19px; background:url(../image/sp_icon_v4.jpg) no-repeat -637px -264px;}	
/*===*/	
#center .r_box .cmbox .t2 span{
	float:left;
	width:124px;
	text-align:left; color:#999; line-height:25px;}	
#center .r_box .cmbox .t2 p{
	padding-left:4px;
	font:12px/25px "宋体"; text-align:left;}	
#center .r_box .ad_box{
	float:left; display:inline;
	width:270px; height:98px; margin:10px 0 0 18px; border:1px solid #fff;}	
#footer{
	width:100%; padding-top:8px;
	font:12px/20px "宋体"; text-align:center;}
/*tool_bar01*/	
#center .r_box .tool_bar01{
	position:relative; z-index:10;
	width:270px; height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -8px -156px;}	
#center .r_box .tool_bar01 li{
	float:left;
	width:54px; padding-left:22px;}
#center .r_box .tool_bar01 li.m2{
	width:35px; padding-left:26px;}
#center .r_box .tool_bar01 li.m3{
	width:32px; padding-left:30px;}	
#center .r_box .tool_bar01 li.m4{
	width:34px; padding-left:26px;}		
#center .r_box .tool_bar01 li a:link,#center .r_box .tool_bar01 li a:visited,#center .r_box .tool_bar01 li a:hover{
	color:#fff;
	font:12px/27px "宋体"; text-decoration:none;}	
#center .r_box .tool_bar01 .arrow{
	position:absolute; left:-7px; top:-7px;
	width:8px; height:33px; background:url(../image/sp_icon_v4.jpg) no-repeat 0 -149px;}
#center .r_box .tool_bar01 li.m1_current{
	width:54px; height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -8px -492px;}
#center .r_box .tool_bar01 li.m2_current{
	width:61px; height:27px; padding-left:0; background:url(../image/sp_icon_v4.jpg) no-repeat -84px -492px;
	text-align:center;}	
#center .r_box .tool_bar01 li.m3_current{
	width:32px; padding-left:30px;height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -145px -492px;}
#center .r_box .tool_bar01 li.m4_current{
	width:34px; padding-left:26px;height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -207px -492px;}	
/*tool_bar02*/	
#center .r_box .tool_bar02{
	position:relative; z-index:10;
	width:270px; height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -7px -251px;}	
#center .r_box .tool_bar02 li{
	float:left; display:inline;
	margin-left:22px;
	font:14px/25px "微软雅黑", "宋体"; color:#fff;}
#center .r_box .tool_bar02 li.m2{
	height:25px; margin-left:77px;}
#center .r_box .tool_bar02 li a:link,#center .r_box .tool_bar02 li a:visited,#center .r_box .tool_bar02 li a:hover{
	color:#5591CA;
	font:12px/25px "宋体";}	
#center .r_box .tool_bar02 .arrow{
	position:absolute; left:-7px; top:-7px;
	width:8px; height:33px; background:url(../image/sp_icon_v4.jpg) no-repeat 0 -244px;}	
/*cmbox2*/
#center .r_box .house_name{
	padding:10px 0 10px 18px;
	font:16px/25px "微软雅黑"; text-align:left;}	 
#center .r_box .cmbox2{
	float:left;
	width:271px; margin:8px 0 0 18px; border:1px solid #fff; border-top:0; border-bottom:0; background-color:#FCFCFC;}
#center .r_box .cmbox2 .t1{
	width:269px; border:1px solid #D5D4D9; border-bottom:0;}
#center .r_box .cmbox2 .t1 p{
	padding:5px 0 10px 10px;
	font:12px/24px "宋体"; text-align:left; color:#858585;}	
/*slide_bar*/
.slide_bar{
	position:absolute; right:2px; top:282px; z-index:800;
	width:7px; background:url(../image/bar_bg.jpg) repeat-y;}
.slide_bar.h_524{
	height:524px;}
.slide_bar.h_372{
	height:372px;}	
.slide_bar.h_700{
	height:700px;}	
.slide_bar .up_btn{
	position:absolute; top:0; left:0;
	width:7px; height:28px; background:url(../image/bar_top.jpg) repeat-y; cursor:pointer;}
.slide_bar .down_btn{
	position:absolute; bottom:0; left:0;
	width:7px; height:14px; background:url(../image/sp_icon_v3.png) no-repeat -34px -394px; cursor:pointer;}	
.slide_bar .bar{
	position:absolute; right:0; top:38px;
	width:7px; padding:10px 0; background:url(../image/bar_line.jpg) repeat-y; cursor:pointer;}	
	
/*environment_tool_bar*/
.e_toolbar{
	float:left; position:relative; z-index:300;
	width:296px; height:52px; margin:5px 0 0 4px; background:url(../image/sp_icon_v4.jpg) no-repeat 0 -185px;}
.e_toolbar ul.a1{
	width:296px; height:30px; margin:10px 0 0 0;}
.e_toolbar ul.a1 li{
	float:left; display:inline;
	width:30px; height:30px; margin-left:11px;}
.e_toolbar ul.a1 li a:link,.e_toolbar ul.a1 li a:visited,.e_toolbar ul.a1 li a:hover{
	display:block;
	width:30px; height:30px;}
.e_toolbar ul.a1 li.i1{
	background:url(../image/sp_icon_v4.jpg) no-repeat -20px -12px;}
.e_toolbar ul.a1 li.i2{
	background:url(../image/sp_icon_v4.jpg) no-repeat -54px -12px;}	
.e_toolbar ul.a1 li.i3{
	background:url(../image/sp_icon_v4.jpg) no-repeat -93px -12px;}	
.e_toolbar ul.a1 li.i4{
	background:url(../image/sp_icon_v4.jpg) no-repeat -139px -12px;}	
.e_toolbar ul.a1 li.i5{
	background:url(../image/sp_icon_v4.jpg) no-repeat -183px -12px;}	
.e_toolbar ul.a1 li.i6{
	background:url(../image/sp_icon_v4.jpg) no-repeat -228px -12px;}	
.e_toolbar ul.a1 li.i7{
	background:url(../image/sp_icon_v4.jpg) no-repeat -265px -12px;}
.e_toolbar ul.a1 li.i1.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -339px -12px;}
.e_toolbar ul.a1 li.i2.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -373px -12px;}	
.e_toolbar ul.a1 li.i3.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -412px -12px;}	
.e_toolbar ul.a1 li.i4.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -458px -12px;}	
.e_toolbar ul.a1 li.i5.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -502px -12px;}	
.e_toolbar ul.a1 li.i6.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -547px -12px;}	
.e_toolbar ul.a1 li.i7.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -584px -12px;}	
/*===*/
.e_toolbar ul.a2{
	position:absolute; left:0; top:46px;
	width:296px; height:101px; border-bottom:1px solid #D5D5D7; background-color:#fff;}
.e_toolbar ul.a2 li{
	float:left; display:inline;
	width:30px; height:30px; margin:2px 0 0 11px;}
.e_toolbar ul.a2 li a:link,.e_toolbar ul.a2 li a:visited,.e_toolbar ul.a2 li a:hover{
	display:block; float:left;
	width:30px; height:30px; outline:none;}
.e_toolbar ul.a2 li.i1{
	background:url(../image/sp_icon_v4.jpg) no-repeat -20px -50px;}
.e_toolbar ul.a2 li.i2{
	background:url(../image/sp_icon_v4.jpg) no-repeat -54px -50px;}	
.e_toolbar ul.a2 li.i3{
	background:url(../image/sp_icon_v4.jpg) no-repeat -93px -50px;}	
.e_toolbar ul.a2 li.i4{
	background:url(../image/sp_icon_v4.jpg) no-repeat -139px -50px;}	
.e_toolbar ul.a2 li.i5{
	background:url(../image/sp_icon_v4.jpg) no-repeat -183px -50px;}	
.e_toolbar ul.a2 li.i6{
	background:url(../image/sp_icon_v4.jpg) no-repeat -228px -50px;}	
.e_toolbar ul.a2 li.i7{
	background:url(../image/sp_icon_v4.jpg) no-repeat -265px -50px;}
.e_toolbar ul.a2 li.i8{
	background:url(../image/sp_icon_v4.jpg) no-repeat -20px -80px;}
.e_toolbar ul.a2 li.i9{
	background:url(../image/sp_icon_v4.jpg) no-repeat -54px -80px;}	
.e_toolbar ul.a2 li.i10{
	background:url(../image/sp_icon_v4.jpg) no-repeat -93px -80px;}	
.e_toolbar ul.a2 li.i11{
	background:url(../image/sp_icon_v4.jpg) no-repeat -139px -80px;}	
.e_toolbar ul.a2 li.i12{
	background:url(../image/sp_icon_v4.jpg) no-repeat -183px -80px;}	
.e_toolbar ul.a2 li.i13{
	background:url(../image/sp_icon_v4.jpg) no-repeat -228px -78px;}	
.e_toolbar ul.a2 li.i14{
	background:url(../image/sp_icon_v4.jpg) no-repeat -265px -78px;}
.e_toolbar ul.a2 li.i15{
	background:url(../image/sp_icon_v4.jpg) no-repeat -20px -112px;}
.e_toolbar ul.a2 li.i1.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -339px -50px;}
.e_toolbar ul.a2 li.i2.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -373px -50px;}	
.e_toolbar ul.a2 li.i3.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -412px -50px;}	
.e_toolbar ul.a2 li.i4.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -458px -50px;}	
.e_toolbar ul.a2 li.i5.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -502px -50px;}	
.e_toolbar ul.a2 li.i6.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -547px -50px;}	
.e_toolbar ul.a2 li.i7.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -584px -50px;}
.e_toolbar ul.a2 li.i8.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -339px -80px;}
.e_toolbar ul.a2 li.i9.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -373px -80px;}	
.e_toolbar ul.a2 li.i10.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -412px -80px;}	
.e_toolbar ul.a2 li.i11.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -458px -80px;}	
.e_toolbar ul.a2 li.i12.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -502px -80px;}	
.e_toolbar ul.a2 li.i13.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -547px -78px;}	
.e_toolbar ul.a2 li.i14.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -584px -78px;}
.e_toolbar ul.a2 li.i15.current{
	background:url(../image/sp_icon_v4.jpg) no-repeat -339px -112px;}	
.e_toolbar ul.a2 .close{
	position:absolute; right:7px; bottom:8px;
	width:30px; height:30px;background:url(../image/sp_icon_v4.jpg) no-repeat -265px -112px;}	
/*search_detail_right_title*/
.sdr_title{
	position:relative;
	width:259px; height:36px; margin:0 0 12px 0; padding-left:10px; background-color:#DFDFDF;
	font:12px/36px "微软雅黑", "宋体"; text-align:left;}
.sdr_title .arrow{
	position:absolute; left:10px; top:36px;
	width:23px; height:12px; background:url(../image/sp_icon_v4.jpg) no-repeat -435px -224px;}	
.sdr_title2{
	position:relative;
	width:239px; height:30px; padding-left:30px; background-color:#00B6FF;
	font:16px/30px "微软雅黑", "宋体"; text-align:left; color:#fff;}
.sdr_title2 .icon01{
	position:absolute; left:0; top:2px;
	width:27px; height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -436px -185px;}
.sdr_title2 .icon02{
	position:absolute; right:0; top:0;
	width:27px; height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -463px -185px;}	
.sdr_title .more{
	float:right;
	padding-right:5px;
	font:12px/36px "宋体"; }	
.sdr_title_tab{
	width:268px; height:30px;}	
.sdr_title_tab li{
	float:left;	position:relative;
	width:132px; height:30px;
	font:16px/30px "微软雅黑", "宋体"; text-align:center;}
.sdr_title_tab li.tab1{
	width:134px; background-color:#00B7FF; margin-right:2px;}	
.sdr_title_tab li.tab2{
	background-color:#A6A6A6;}
.sdr_title_tab li.tab3{
	width:134px; margin-left:2px;
	background-color:#FFC44C;}	
.sdr_title_tab li a:link,.sdr_title_tab li a:visited,.sdr_title_tab li a:hover{
	display:block;
	width:134px; height:30px;
	color:#fff; text-decoration:none;}	
.sdr_title_tab .arrow{
	position:absolute; right:10px; top:5px;
	width:20px; height:20px; background:url(../image/sp_icon_v4.jpg) no-repeat -465px -191px;}
.sdr_title_tab .arrow2{
	position:absolute; left:10px; bottom:0;
	width:16px; height:9px; background:url(../image/sp_icon_v4.jpg) no-repeat -484px -224px;}
.sdr_title_tab .arrow3{
	position:absolute; right:10px; top:5px;
	width:20px; height:20px; background:url(../image/sp_icon_v4.jpg) no-repeat -469px -244px;}	
.sdr_title3{
	position:relative;
	width:239px; height:30px; padding-left:30px; background-color:#FFC34B;
	font:16px/30px "微软雅黑", "宋体"; text-align:left; color:#fff;}
.sdr_title3 .icon01{
	position:absolute; left:0; top:2px;
	width:27px; height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -436px -240px;}
.sdr_title3 .icon02{
	position:absolute; right:10px; top:2px;
	width:27px; height:27px; background:url(../image/sp_icon_v4.jpg) no-repeat -463px -240px;}	
/*star*/
.star_box{
	float:left;
	margin-top:3px;}
.star_box li{
	float:left;
	width:20px; height:20px; background:url(../image/sp_icon_v4.jpg) no-repeat -631px -189px;}
.star_box li.no{
	background:url(../image/sp_icon_v4.jpg) no-repeat -631px -210px;}	
/*star2*/
.star_box2{
	float:left;
	margin-top:3px;}
.star_box2 li{
	float:left;
	width:22px; height:22px; background:url(../image/sp_icon_v4.jpg) no-repeat -629px -366px;}
.star_box2 li.no{
	background:url(../image/sp_icon_v4.jpg) no-repeat -629px -391px;}		
/*contrast_box*/
.contrast_box{
	position:absolute; right:0; top:-6px; z-index:2000;
	width:259px; height:720px; padding:1px; border:2px solid #0A5FB0; border-right:3px solid #0a5fb0; background-color:#fff;}
.contrast_box .title{
	position:relative;
	width:259px; height:40px; background-color:#F0F1F5;}
.contrast_box .title h2{
	padding-left:10px;
	font:17px/40px "微软雅黑", "宋体"; text-align:left;}
.contrast_box .close{
	position:absolute; right:10px; top:12px;
	width:15px; height:15px;background:url(../image/sp_icon_v4.jpg) no-repeat -273px -123px; cursor:pointer;}
.contrast_box .sub_info{
	width:249px; padding-left:10px; border-bottom:1px solid #F2F2F4;
	font:12px/35px "宋体"; text-align:left; color:#919191;}
.contrast_box .info_box{
	width:259px; margin-top:10px; padding-bottom:6px; border-bottom:1px dotted #CCC;}
.contrast_box .info_box .a1_box{
	width:249px; padding-left:10px;}	
.contrast_box .info_box .pic{
	float:left;
	width:100px;}
.contrast_box .info_box h2{
	font:14px/20px "宋体"; text-align:left;}	
.contrast_box .info_box .rr{
	float:left; display:inline;
	width:140px; margin-left:9px;}
.contrast_box .info_box p{
	font:12px/24px "宋体" ; text-align:left; color:#919191;}	
.contrast_box .info_box .a2_box{
	position:relative;
	width:219px; height:25px; margin:6px 0 0 10px; padding-right:30px;}
.contrast_box .info_box .a2_box .name{
	float:left;
	margin-top:2px;
	font:12px/20px "宋体"; color:#0C61B2;}	
.contrast_box .info_box .a2_box .del{
	position:absolute; right:10px; top:5px;
	width:20px; height:20px; background:url(../image/sp_icon_v4.jpg) no-repeat -631px -235px; cursor:pointer;}	
.contrast_box .c_btn{
	float:left;
	width:122px; height:36px; margin:20px 0 0 68px; background:url(../image/sp_icon_v4.jpg) no-repeat -528px -147px;}	
.contrast_box .c_btn a:link,.contrast_box .c_btn a:visited,.contrast_box .c_btn a:hover{
	display:block;
	width:122px; height:36px;}	
/*map_icon*/
.m_position_box{
	position:absolute; left:20px; top:20px;
	width:95px; height:50px; padding-left:5px; background:url(../image/map_icon.png) no-repeat -558px -627px;}
.m_position_box li{
	float:left; display:inline;
	width:42px; height:42px; margin:5px 0 0 2px; cursor:pointer;}
.m_position_box li.m1{
	background:url(../image/map_icon.png) no-repeat -452px -627px;}
.m_position_box li.m2{
	background:url(../image/map_icon.png) no-repeat -497px -627px;}	
